<?xml version="1.0"?>
<Configuration>
  <ConnectionSets>
    <ConnectionSet id="all">
      <SimTime t="1">
        <Connection src="1.1_Cloud" dst="1.9_Cloud" qosReq="mgmt"/>
        <Connection src="1.2_Cloud" dst="1.3_Cloud" qosReq="mgmt"/>
        <Connection src="1.2_Cloud" dst="1.4_Cloud" qosReq="mgmt"/>
        <Connection src="1.2_Cloud" dst="1.6_Cloud" qosReq="mgmt"/>
        <Connection src="1.2_Cloud" dst="1.7_Cloud" qosReq="mgmt"/>
        <Connection src="1.2_Cloud" dst="1.8_Cloud" qosReq="mgmt"/>
        <Connection src="1.3_Cloud" dst="1.4_Cloud" qosReq="mgmt"/>
        <Connection src="1.3_Cloud" dst="1.8_Cloud" qosReq="mgmt"/>
        <Connection src="1.3_Cloud" dst="1.9_Cloud" qosReq="mgmt"/>
        <Connection src="1.3_Cloud" dst="6.4_Cloud" qosReq="mgmt"/>
        <Connection src="1.3_Cloud" dst="6.b_Cloud" qosReq="mgmt"/>
        <Connection src="1.4_Cloud" dst="1.5_Cloud" qosReq="mgmt"/>
        <Connection src="1.5_Cloud" dst="1.7_Cloud" qosReq="mgmt"/>
        <Connection src="1.6_Cloud" dst="1.9_Cloud" qosReq="mgmt"/>
        <Connection src="1.7_Cloud" dst="1.8_Cloud" qosReq="mgmt"/>
        <Connection src="1.9_Cloud" dst="6.4_Cloud" qosReq="mgmt"/>
        <Connection src="2.1_Cloud" dst="2.3_Cloud" qosReq="mgmt"/>
        <Connection src="2.1_Cloud" dst="2.5_Cloud" qosReq="mgmt"/>
        <Connection src="2.1_Cloud" dst="2.7_Cloud" qosReq="mgmt"/>
        <Connection src="2.1_Cloud" dst="2.8_Cloud" qosReq="mgmt"/>
        <Connection src="2.2_Cloud" dst="2.5_Cloud" qosReq="mgmt"/>
        <Connection src="2.2_Cloud" dst="2.b_Cloud" qosReq="mgmt"/>
        <Connection src="2.3_Cloud" dst="2.6_Cloud" qosReq="mgmt"/>
        <Connection src="2.3_Cloud" dst="2.9_Cloud" qosReq="mgmt"/>
        <Connection src="2.4_Cloud" dst="2.6_Cloud" qosReq="mgmt"/>
        <Connection src="2.4_Cloud" dst="2.8_Cloud" qosReq="mgmt"/>
        <Connection src="2.5_Cloud" dst="2.6_Cloud" qosReq="mgmt"/>
        <Connection src="2.5_Cloud" dst="2.b_Cloud" qosReq="mgmt"/>
        <Connection src="2.6_Cloud" dst="2.a_Cloud" qosReq="mgmt"/>
        <Connection src="2.7_Cloud" dst="2.9_Cloud" qosReq="mgmt"/>
        <Connection src="2.8_Cloud" dst="5.b_Cloud" qosReq="mgmt"/>
        <Connection src="2.9_Cloud" dst="2.b_Cloud" qosReq="mgmt"/>
        <Connection src="2.a_Cloud" dst="2.b_Cloud" qosReq="mgmt"/>
        <Connection src="2.b_Cloud" dst="5.1_Cloud" qosReq="mgmt"/>
        <Connection src="2.b_Cloud" dst="5.8_Cloud" qosReq="mgmt"/>
        <Connection src="3.1_Cloud" dst="3.2_Cloud" qosReq="mgmt"/>
        <Connection src="3.1_Cloud" dst="3.6_Cloud" qosReq="mgmt"/>
        <Connection src="3.2_Cloud" dst="3.6_Cloud" qosReq="mgmt"/>
        <Connection src="3.2_Cloud" dst="3.8_Cloud" qosReq="mgmt"/>
        <Connection src="3.2_Cloud" dst="3.9_Cloud" qosReq="mgmt"/>
        <Connection src="3.2_Cloud" dst="3.a_Cloud" qosReq="mgmt"/>
        <Connection src="3.3_Cloud" dst="3.a_Cloud" qosReq="mgmt"/>
        <Connection src="3.4_Cloud" dst="3.5_Cloud" qosReq="mgmt"/>
        <Connection src="3.4_Cloud" dst="3.7_Cloud" qosReq="mgmt"/>
        <Connection src="3.4_Cloud" dst="3.9_Cloud" qosReq="mgmt"/>
        <Connection src="3.5_Cloud" dst="3.7_Cloud" qosReq="mgmt"/>
        <Connection src="3.5_Cloud" dst="3.a_Cloud" qosReq="mgmt"/>
        <Connection src="3.5_Cloud" dst="7.7_Cloud" qosReq="mgmt"/>
        <Connection src="3.5_Cloud" dst="9.8_Cloud" qosReq="mgmt"/>
        <Connection src="3.6_Cloud" dst="7.7_Cloud" qosReq="mgmt"/>
        <Connection src="3.6_Cloud" dst="7.8_Cloud" qosReq="mgmt"/>
        <Connection src="3.6_Cloud" dst="9.6_Cloud" qosReq="mgmt"/>
        <Connection src="3.7_Cloud" dst="3.8_Cloud" qosReq="mgmt"/>
        <Connection src="3.8_Cloud" dst="3.9_Cloud" qosReq="mgmt"/>
        <Connection src="3.9_Cloud" dst="3.a_Cloud" qosReq="mgmt"/>
        <Connection src="4.1_Cloud" dst="4.2_Cloud" qosReq="mgmt"/>
        <Connection src="4.1_Cloud" dst="4.4_Cloud" qosReq="mgmt"/>
        <Connection src="4.1_Cloud" dst="4.8_Cloud" qosReq="mgmt"/>
        <Connection src="4.2_Cloud" dst="4.3_Cloud" qosReq="mgmt"/>
        <Connection src="4.2_Cloud" dst="4.5_Cloud" qosReq="mgmt"/>
        <Connection src="4.2_Cloud" dst="4.8_Cloud" qosReq="mgmt"/>
        <Connection src="4.3_Cloud" dst="4.5_Cloud" qosReq="mgmt"/>
        <Connection src="4.3_Cloud" dst="4.6_Cloud" qosReq="mgmt"/>
        <Connection src="4.4_Cloud" dst="4.5_Cloud" qosReq="mgmt"/>
        <Connection src="4.4_Cloud" dst="4.7_Cloud" qosReq="mgmt"/>
        <Connection src="4.4_Cloud" dst="5.b_Cloud" qosReq="mgmt"/>
        <Connection src="4.4_Cloud" dst="6.4_Cloud" qosReq="mgmt"/>
        <Connection src="4.4_Cloud" dst="6.b_Cloud" qosReq="mgmt"/>
        <Connection src="4.5_Cloud" dst="4.7_Cloud" qosReq="mgmt"/>
        <Connection src="4.7_Cloud" dst="4.8_Cloud" qosReq="mgmt"/>
        <Connection src="4.7_Cloud" dst="5.b_Cloud" qosReq="mgmt"/>
        <Connection src="5.1_Cloud" dst="5.3_Cloud" qosReq="mgmt"/>
        <Connection src="5.1_Cloud" dst="5.4_Cloud" qosReq="mgmt"/>
        <Connection src="5.1_Cloud" dst="5.7_Cloud" qosReq="mgmt"/>
        <Connection src="5.1_Cloud" dst="6.4_Cloud" qosReq="mgmt"/>
        <Connection src="5.1_Cloud" dst="8.8_Cloud" qosReq="mgmt"/>
        <Connection src="5.1_Cloud" dst="9.6_Cloud" qosReq="mgmt"/>
        <Connection src="5.2_Cloud" dst="5.3_Cloud" qosReq="mgmt"/>
        <Connection src="5.2_Cloud" dst="5.4_Cloud" qosReq="mgmt"/>
        <Connection src="5.2_Cloud" dst="5.6_Cloud" qosReq="mgmt"/>
        <Connection src="5.2_Cloud" dst="5.7_Cloud" qosReq="mgmt"/>
        <Connection src="5.2_Cloud" dst="5.b_Cloud" qosReq="mgmt"/>
        <Connection src="5.3_Cloud" dst="5.5_Cloud" qosReq="mgmt"/>
        <Connection src="5.3_Cloud" dst="5.9_Cloud" qosReq="mgmt"/>
        <Connection src="5.4_Cloud" dst="5.6_Cloud" qosReq="mgmt"/>
        <Connection src="5.4_Cloud" dst="5.9_Cloud" qosReq="mgmt"/>
        <Connection src="5.6_Cloud" dst="5.7_Cloud" qosReq="mgmt"/>
        <Connection src="5.6_Cloud" dst="5.8_Cloud" qosReq="mgmt"/>
        <Connection src="5.7_Cloud" dst="5.a_Cloud" qosReq="mgmt"/>
        <Connection src="5.8_Cloud" dst="5.a_Cloud" qosReq="mgmt"/>
        <Connection src="5.8_Cloud" dst="8.8_Cloud" qosReq="mgmt"/>
        <Connection src="5.8_Cloud" dst="9.8_Cloud" qosReq="mgmt"/>
        <Connection src="5.b_Cloud" dst="6.4_Cloud" qosReq="mgmt"/>
        <Connection src="5.b_Cloud" dst="6.b_Cloud" qosReq="mgmt"/>
        <Connection src="5.b_Cloud" dst="9.8_Cloud" qosReq="mgmt"/>
        <Connection src="6.1_Cloud" dst="6.6_Cloud" qosReq="mgmt"/>
        <Connection src="6.1_Cloud" dst="6.8_Cloud" qosReq="mgmt"/>
        <Connection src="6.2_Cloud" dst="6.6_Cloud" qosReq="mgmt"/>
        <Connection src="6.2_Cloud" dst="6.9_Cloud" qosReq="mgmt"/>
        <Connection src="6.3_Cloud" dst="6.4_Cloud" qosReq="mgmt"/>
        <Connection src="6.3_Cloud" dst="6.5_Cloud" qosReq="mgmt"/>
        <Connection src="6.3_Cloud" dst="6.6_Cloud" qosReq="mgmt"/>
        <Connection src="6.3_Cloud" dst="6.9_Cloud" qosReq="mgmt"/>
        <Connection src="6.4_Cloud" dst="6.6_Cloud" qosReq="mgmt"/>
        <Connection src="6.4_Cloud" dst="6.7_Cloud" qosReq="mgmt"/>
        <Connection src="6.4_Cloud" dst="7.2_Cloud" qosReq="mgmt"/>
        <Connection src="6.4_Cloud" dst="7.7_Cloud" qosReq="mgmt"/>
        <Connection src="6.4_Cloud" dst="7.8_Cloud" qosReq="mgmt"/>
        <Connection src="6.4_Cloud" dst="a.2_Cloud" qosReq="mgmt"/>
        <Connection src="6.4_Cloud" dst="a.9_Cloud" qosReq="mgmt"/>
        <Connection src="6.5_Cloud" dst="6.8_Cloud" qosReq="mgmt"/>
        <Connection src="6.6_Cloud" dst="6.b_Cloud" qosReq="mgmt"/>
        <Connection src="6.8_Cloud" dst="6.a_Cloud" qosReq="mgmt"/>
        <Connection src="6.9_Cloud" dst="6.a_Cloud" qosReq="mgmt"/>
        <Connection src="6.9_Cloud" dst="6.b_Cloud" qosReq="mgmt"/>
        <Connection src="6.a_Cloud" dst="6.b_Cloud" qosReq="mgmt"/>
        <Connection src="6.b_Cloud" dst="8.5_Cloud" qosReq="mgmt"/>
        <Connection src="6.b_Cloud" dst="8.8_Cloud" qosReq="mgmt"/>
        <Connection src="6.b_Cloud" dst="8.a_Cloud" qosReq="mgmt"/>
        <Connection src="6.b_Cloud" dst="a.9_Cloud" qosReq="mgmt"/>
        <Connection src="7.1_Cloud" dst="7.2_Cloud" qosReq="mgmt"/>
        <Connection src="7.1_Cloud" dst="7.3_Cloud" qosReq="mgmt"/>
        <Connection src="7.1_Cloud" dst="7.4_Cloud" qosReq="mgmt"/>
        <Connection src="7.1_Cloud" dst="7.5_Cloud" qosReq="mgmt"/>
        <Connection src="7.1_Cloud" dst="7.8_Cloud" qosReq="mgmt"/>
        <Connection src="7.2_Cloud" dst="7.5_Cloud" qosReq="mgmt"/>
        <Connection src="7.2_Cloud" dst="9.8_Cloud" qosReq="mgmt"/>
        <Connection src="7.3_Cloud" dst="7.6_Cloud" qosReq="mgmt"/>
        <Connection src="7.4_Cloud" dst="7.5_Cloud" qosReq="mgmt"/>
        <Connection src="7.5_Cloud" dst="7.7_Cloud" qosReq="mgmt"/>
        <Connection src="7.5_Cloud" dst="7.8_Cloud" qosReq="mgmt"/>
        <Connection src="7.6_Cloud" dst="7.7_Cloud" qosReq="mgmt"/>
        <Connection src="7.7_Cloud" dst="9.8_Cloud" qosReq="mgmt"/>
        <Connection src="7.8_Cloud" dst="8.5_Cloud" qosReq="mgmt"/>
        <Connection src="7.8_Cloud" dst="8.a_Cloud" qosReq="mgmt"/>
        <Connection src="7.8_Cloud" dst="9.3_Cloud" qosReq="mgmt"/>
        <Connection src="8.1_Cloud" dst="8.4_Cloud" qosReq="mgmt"/>
        <Connection src="8.1_Cloud" dst="8.7_Cloud" qosReq="mgmt"/>
        <Connection src="8.1_Cloud" dst="8.8_Cloud" qosReq="mgmt"/>
        <Connection src="8.1_Cloud" dst="8.b_Cloud" qosReq="mgmt"/>
        <Connection src="8.2_Cloud" dst="8.5_Cloud" qosReq="mgmt"/>
        <Connection src="8.2_Cloud" dst="8.9_Cloud" qosReq="mgmt"/>
        <Connection src="8.3_Cloud" dst="8.7_Cloud" qosReq="mgmt"/>
        <Connection src="8.3_Cloud" dst="8.9_Cloud" qosReq="mgmt"/>
        <Connection src="8.4_Cloud" dst="8.8_Cloud" qosReq="mgmt"/>
        <Connection src="8.5_Cloud" dst="8.7_Cloud" qosReq="mgmt"/>
        <Connection src="8.5_Cloud" dst="8.9_Cloud" qosReq="mgmt"/>
        <Connection src="8.6_Cloud" dst="8.7_Cloud" qosReq="mgmt"/>
        <Connection src="8.6_Cloud" dst="8.9_Cloud" qosReq="mgmt"/>
        <Connection src="8.7_Cloud" dst="8.a_Cloud" qosReq="mgmt"/>
        <Connection src="8.7_Cloud" dst="8.b_Cloud" qosReq="mgmt"/>
        <Connection src="8.a_Cloud" dst="8.b_Cloud" qosReq="mgmt"/>
        <Connection src="9.1_Cloud" dst="9.2_Cloud" qosReq="mgmt"/>
        <Connection src="9.2_Cloud" dst="9.3_Cloud" qosReq="mgmt"/>
        <Connection src="9.2_Cloud" dst="9.6_Cloud" qosReq="mgmt"/>
        <Connection src="9.3_Cloud" dst="9.6_Cloud" qosReq="mgmt"/>
        <Connection src="9.3_Cloud" dst="9.9_Cloud" qosReq="mgmt"/>
        <Connection src="9.3_Cloud" dst="a.9_Cloud" qosReq="mgmt"/>
        <Connection src="9.4_Cloud" dst="9.5_Cloud" qosReq="mgmt"/>
        <Connection src="9.4_Cloud" dst="9.7_Cloud" qosReq="mgmt"/>
        <Connection src="9.4_Cloud" dst="9.8_Cloud" qosReq="mgmt"/>
        <Connection src="9.5_Cloud" dst="9.6_Cloud" qosReq="mgmt"/>
        <Connection src="9.5_Cloud" dst="9.7_Cloud" qosReq="mgmt"/>
        <Connection src="9.6_Cloud" dst="9.8_Cloud" qosReq="mgmt"/>
        <Connection src="9.6_Cloud" dst="9.9_Cloud" qosReq="mgmt"/>
        <Connection src="9.6_Cloud" dst="a.2_Cloud" qosReq="mgmt"/>
        <Connection src="9.7_Cloud" dst="9.8_Cloud" qosReq="mgmt"/>
        <Connection src="9.8_Cloud" dst="a.2_Cloud" qosReq="mgmt"/>
        <Connection src="a.1_Cloud" dst="a.6_Cloud" qosReq="mgmt"/>
        <Connection src="a.1_Cloud" dst="a.7_Cloud" qosReq="mgmt"/>
        <Connection src="a.2_Cloud" dst="a.7_Cloud" qosReq="mgmt"/>
        <Connection src="a.2_Cloud" dst="a.8_Cloud" qosReq="mgmt"/>
        <Connection src="a.2_Cloud" dst="a.9_Cloud" qosReq="mgmt"/>
        <Connection src="a.3_Cloud" dst="a.5_Cloud" qosReq="mgmt"/>
        <Connection src="a.3_Cloud" dst="a.6_Cloud" qosReq="mgmt"/>
        <Connection src="a.3_Cloud" dst="a.9_Cloud" qosReq="mgmt"/>
        <Connection src="a.4_Cloud" dst="a.6_Cloud" qosReq="mgmt"/>
        <Connection src="a.5_Cloud" dst="a.6_Cloud" qosReq="mgmt"/>
        <Connection src="a.5_Cloud" dst="a.9_Cloud" qosReq="mgmt"/>
        <Connection src="a.6_Cloud" dst="a.9_Cloud" qosReq="mgmt"/>
        <Connection src="a.7_Cloud" dst="a.9_Cloud" qosReq="mgmt"/>
      </SimTime>
      
      <SimTime t ="3">
        <Connection src="7.2_Cloud" dst="7.7_Cloud" qosReq="mgmt"/>
      </SimTime>
      
    </ConnectionSet>
  </ConnectionSets>

  <DA>
    <Directory>
      <APN apn="1.1_Cloud">
        <DIF difName="R1I1R1I9" ipcAddress="A"/>
      </APN>
      <APN apn="1.2_Cloud">
        <DIF difName="R1I2R1I3" ipcAddress="A"/>
        <DIF difName="R1I2R1I4" ipcAddress="A"/>
        <DIF difName="R1I2R1I6" ipcAddress="A"/>
        <DIF difName="R1I2R1I7" ipcAddress="A"/>
        <DIF difName="R1I2R1I8" ipcAddress="A"/>
      </APN>
      <APN apn="1.3_Cloud">
        <DIF difName="R1I2R1I3" ipcAddress="B"/>
        <DIF difName="R1I3R1I4" ipcAddress="A"/>
        <DIF difName="R1I3R1I8" ipcAddress="A"/>
        <DIF difName="R1I3R1I9" ipcAddress="A"/>
        <DIF difName="R1I3R6I4" ipcAddress="A"/>
        <DIF difName="R1I3R6Ib" ipcAddress="A"/>
      </APN>
      <APN apn="1.4_Cloud">
        <DIF difName="R1I2R1I4" ipcAddress="B"/>
        <DIF difName="R1I3R1I4" ipcAddress="B"/>
        <DIF difName="R1I4R1I5" ipcAddress="A"/>
      </APN>
      <APN apn="1.5_Cloud">
        <DIF difName="R1I4R1I5" ipcAddress="B"/>
        <DIF difName="R1I5R1I7" ipcAddress="A"/>
      </APN>
      <APN apn="1.6_Cloud">
        <DIF difName="R1I2R1I6" ipcAddress="B"/>
        <DIF difName="R1I6R1I9" ipcAddress="A"/>
      </APN>
      <APN apn="1.7_Cloud">
        <DIF difName="R1I2R1I7" ipcAddress="B"/>
        <DIF difName="R1I5R1I7" ipcAddress="B"/>
        <DIF difName="R1I7R1I8" ipcAddress="A"/>
      </APN>
      <APN apn="1.8_Cloud">
        <DIF difName="R1I2R1I8" ipcAddress="B"/>
        <DIF difName="R1I3R1I8" ipcAddress="B"/>
        <DIF difName="R1I7R1I8" ipcAddress="B"/>
      </APN>
      <APN apn="1.9_Cloud">
        <DIF difName="R1I1R1I9" ipcAddress="B"/>
        <DIF difName="R1I3R1I9" ipcAddress="B"/>
        <DIF difName="R1I6R1I9" ipcAddress="B"/>
        <DIF difName="R1I9R6I4" ipcAddress="A"/>
      </APN>
      <APN apn="2.1_Cloud">
        <DIF difName="R2I1R2I3" ipcAddress="A"/>
        <DIF difName="R2I1R2I5" ipcAddress="A"/>
        <DIF difName="R2I1R2I7" ipcAddress="A"/>
        <DIF difName="R2I1R2I8" ipcAddress="A"/>
      </APN>
      <APN apn="2.2_Cloud">
        <DIF difName="R2I2R2I5" ipcAddress="A"/>
        <DIF difName="R2I2R2Ib" ipcAddress="A"/>
      </APN>
      <APN apn="2.3_Cloud">
        <DIF difName="R2I1R2I3" ipcAddress="B"/>
        <DIF difName="R2I3R2I6" ipcAddress="A"/>
        <DIF difName="R2I3R2I9" ipcAddress="A"/>
      </APN>
      <APN apn="2.4_Cloud">
        <DIF difName="R2I4R2I6" ipcAddress="A"/>
        <DIF difName="R2I4R2I8" ipcAddress="A"/>
      </APN>
      <APN apn="2.5_Cloud">
        <DIF difName="R2I1R2I5" ipcAddress="B"/>
        <DIF difName="R2I2R2I5" ipcAddress="B"/>
        <DIF difName="R2I5R2I6" ipcAddress="A"/>
        <DIF difName="R2I5R2Ib" ipcAddress="A"/>
      </APN>
      <APN apn="2.6_Cloud">
        <DIF difName="R2I3R2I6" ipcAddress="B"/>
        <DIF difName="R2I4R2I6" ipcAddress="B"/>
        <DIF difName="R2I5R2I6" ipcAddress="B"/>
        <DIF difName="R2I6R2Ia" ipcAddress="A"/>
      </APN>
      <APN apn="2.7_Cloud">
        <DIF difName="R2I1R2I7" ipcAddress="B"/>
        <DIF difName="R2I7R2I9" ipcAddress="A"/>
      </APN>
      <APN apn="2.8_Cloud">
        <DIF difName="R2I1R2I8" ipcAddress="B"/>
        <DIF difName="R2I4R2I8" ipcAddress="B"/>
        <DIF difName="R2I8R5Ib" ipcAddress="A"/>
      </APN>
      <APN apn="2.9_Cloud">
        <DIF difName="R2I3R2I9" ipcAddress="B"/>
        <DIF difName="R2I7R2I9" ipcAddress="B"/>
        <DIF difName="R2I9R2Ib" ipcAddress="A"/>
      </APN>
      <APN apn="2.a_Cloud">
        <DIF difName="R2I6R2Ia" ipcAddress="B"/>
        <DIF difName="R2IaR2Ib" ipcAddress="A"/>
      </APN>
      <APN apn="2.b_Cloud">
        <DIF difName="R2I2R2Ib" ipcAddress="B"/>
        <DIF difName="R2I5R2Ib" ipcAddress="B"/>
        <DIF difName="R2I9R2Ib" ipcAddress="B"/>
        <DIF difName="R2IaR2Ib" ipcAddress="B"/>
        <DIF difName="R2IbR5I1" ipcAddress="A"/>
        <DIF difName="R2IbR5I8" ipcAddress="A"/>
      </APN>
      <APN apn="3.1_Cloud">
        <DIF difName="R3I1R3I2" ipcAddress="A"/>
        <DIF difName="R3I1R3I6" ipcAddress="A"/>
      </APN>
      <APN apn="3.2_Cloud">
        <DIF difName="R3I1R3I2" ipcAddress="B"/>
        <DIF difName="R3I2R3I6" ipcAddress="A"/>
        <DIF difName="R3I2R3I8" ipcAddress="A"/>
        <DIF difName="R3I2R3I9" ipcAddress="A"/>
        <DIF difName="R3I2R3Ia" ipcAddress="A"/>
      </APN>
      <APN apn="3.3_Cloud">
        <DIF difName="R3I3R3Ia" ipcAddress="A"/>
      </APN>
      <APN apn="3.4_Cloud">
        <DIF difName="R3I4R3I5" ipcAddress="A"/>
        <DIF difName="R3I4R3I7" ipcAddress="A"/>
        <DIF difName="R3I4R3I9" ipcAddress="A"/>
      </APN>
      <APN apn="3.5_Cloud">
        <DIF difName="R3I4R3I5" ipcAddress="B"/>
        <DIF difName="R3I5R3I7" ipcAddress="A"/>
        <DIF difName="R3I5R3Ia" ipcAddress="A"/>
        <DIF difName="R3I5R7I7" ipcAddress="A"/>
        <DIF difName="R3I5R9I8" ipcAddress="A"/>
      </APN>
      <APN apn="3.6_Cloud">
        <DIF difName="R3I1R3I6" ipcAddress="B"/>
        <DIF difName="R3I2R3I6" ipcAddress="B"/>
        <DIF difName="R3I6R7I7" ipcAddress="A"/>
        <DIF difName="R3I6R7I8" ipcAddress="A"/>
        <DIF difName="R3I6R9I6" ipcAddress="A"/>
      </APN>
      <APN apn="3.7_Cloud">
        <DIF difName="R3I4R3I7" ipcAddress="B"/>
        <DIF difName="R3I5R3I7" ipcAddress="B"/>
        <DIF difName="R3I7R3I8" ipcAddress="A"/>
      </APN>
      <APN apn="3.8_Cloud">
        <DIF difName="R3I2R3I8" ipcAddress="B"/>
        <DIF difName="R3I7R3I8" ipcAddress="B"/>
        <DIF difName="R3I8R3I9" ipcAddress="A"/>
      </APN>
      <APN apn="3.9_Cloud">
        <DIF difName="R3I2R3I9" ipcAddress="B"/>
        <DIF difName="R3I4R3I9" ipcAddress="B"/>
        <DIF difName="R3I8R3I9" ipcAddress="B"/>
        <DIF difName="R3I9R3Ia" ipcAddress="A"/>
      </APN>
      <APN apn="3.a_Cloud">
        <DIF difName="R3I2R3Ia" ipcAddress="B"/>
        <DIF difName="R3I3R3Ia" ipcAddress="B"/>
        <DIF difName="R3I5R3Ia" ipcAddress="B"/>
        <DIF difName="R3I9R3Ia" ipcAddress="B"/>
      </APN>
      <APN apn="4.1_Cloud">
        <DIF difName="R4I1R4I2" ipcAddress="A"/>
        <DIF difName="R4I1R4I4" ipcAddress="A"/>
        <DIF difName="R4I1R4I8" ipcAddress="A"/>
      </APN>
      <APN apn="4.2_Cloud">
        <DIF difName="R4I1R4I2" ipcAddress="B"/>
        <DIF difName="R4I2R4I3" ipcAddress="A"/>
        <DIF difName="R4I2R4I5" ipcAddress="A"/>
        <DIF difName="R4I2R4I8" ipcAddress="A"/>
      </APN>
      <APN apn="4.3_Cloud">
        <DIF difName="R4I2R4I3" ipcAddress="B"/>
        <DIF difName="R4I3R4I5" ipcAddress="A"/>
        <DIF difName="R4I3R4I6" ipcAddress="A"/>
      </APN>
      <APN apn="4.4_Cloud">
        <DIF difName="R4I1R4I4" ipcAddress="B"/>
        <DIF difName="R4I4R4I5" ipcAddress="A"/>
        <DIF difName="R4I4R4I7" ipcAddress="A"/>
        <DIF difName="R4I4R5Ib" ipcAddress="A"/>
        <DIF difName="R4I4R6I4" ipcAddress="A"/>
        <DIF difName="R4I4R6Ib" ipcAddress="A"/>
      </APN>
      <APN apn="4.5_Cloud">
        <DIF difName="R4I2R4I5" ipcAddress="B"/>
        <DIF difName="R4I3R4I5" ipcAddress="B"/>
        <DIF difName="R4I4R4I5" ipcAddress="B"/>
        <DIF difName="R4I5R4I7" ipcAddress="A"/>
      </APN>
      <APN apn="4.6_Cloud">
        <DIF difName="R4I3R4I6" ipcAddress="B"/>
      </APN>
      <APN apn="4.7_Cloud">
        <DIF difName="R4I4R4I7" ipcAddress="B"/>
        <DIF difName="R4I5R4I7" ipcAddress="B"/>
        <DIF difName="R4I7R4I8" ipcAddress="A"/>
        <DIF difName="R4I7R5Ib" ipcAddress="A"/>
      </APN>
      <APN apn="4.8_Cloud">
        <DIF difName="R4I1R4I8" ipcAddress="B"/>
        <DIF difName="R4I2R4I8" ipcAddress="B"/>
        <DIF difName="R4I7R4I8" ipcAddress="B"/>
      </APN>
      <APN apn="5.1_Cloud">
        <DIF difName="R5I1R5I3" ipcAddress="A"/>
        <DIF difName="R5I1R5I4" ipcAddress="A"/>
        <DIF difName="R5I1R5I7" ipcAddress="A"/>
        <DIF difName="R2IbR5I1" ipcAddress="B"/>
        <DIF difName="R5I1R6I4" ipcAddress="A"/>
        <DIF difName="R5I1R8I8" ipcAddress="A"/>
        <DIF difName="R5I1R9I6" ipcAddress="A"/>
      </APN>
      <APN apn="5.2_Cloud">
        <DIF difName="R5I2R5I3" ipcAddress="A"/>
        <DIF difName="R5I2R5I4" ipcAddress="A"/>
        <DIF difName="R5I2R5I6" ipcAddress="A"/>
        <DIF difName="R5I2R5I7" ipcAddress="A"/>
        <DIF difName="R5I2R5Ib" ipcAddress="A"/>
      </APN>
      <APN apn="5.3_Cloud">
        <DIF difName="R5I1R5I3" ipcAddress="B"/>
        <DIF difName="R5I2R5I3" ipcAddress="B"/>
        <DIF difName="R5I3R5I5" ipcAddress="A"/>
        <DIF difName="R5I3R5I9" ipcAddress="A"/>
      </APN>
      <APN apn="5.4_Cloud">
        <DIF difName="R5I1R5I4" ipcAddress="B"/>
        <DIF difName="R5I2R5I4" ipcAddress="B"/>
        <DIF difName="R5I4R5I6" ipcAddress="A"/>
        <DIF difName="R5I4R5I9" ipcAddress="A"/>
      </APN>
      <APN apn="5.5_Cloud">
        <DIF difName="R5I3R5I5" ipcAddress="B"/>
      </APN>
      <APN apn="5.6_Cloud">
        <DIF difName="R5I2R5I6" ipcAddress="B"/>
        <DIF difName="R5I4R5I6" ipcAddress="B"/>
        <DIF difName="R5I6R5I7" ipcAddress="A"/>
        <DIF difName="R5I6R5I8" ipcAddress="A"/>
      </APN>
      <APN apn="5.7_Cloud">
        <DIF difName="R5I1R5I7" ipcAddress="B"/>
        <DIF difName="R5I2R5I7" ipcAddress="B"/>
        <DIF difName="R5I6R5I7" ipcAddress="B"/>
        <DIF difName="R5I7R5Ia" ipcAddress="A"/>
      </APN>
      <APN apn="5.8_Cloud">
        <DIF difName="R5I6R5I8" ipcAddress="B"/>
        <DIF difName="R5I8R5Ia" ipcAddress="A"/>
        <DIF difName="R2IbR5I8" ipcAddress="B"/>
        <DIF difName="R5I8R8I8" ipcAddress="A"/>
        <DIF difName="R5I8R9I8" ipcAddress="A"/>
      </APN>
      <APN apn="5.9_Cloud">
        <DIF difName="R5I3R5I9" ipcAddress="B"/>
        <DIF difName="R5I4R5I9" ipcAddress="B"/>
      </APN>
      <APN apn="5.a_Cloud">
        <DIF difName="R5I7R5Ia" ipcAddress="B"/>
        <DIF difName="R5I8R5Ia" ipcAddress="B"/>
      </APN>
      <APN apn="5.b_Cloud">
        <DIF difName="R5I2R5Ib" ipcAddress="B"/>
        <DIF difName="R2I8R5Ib" ipcAddress="B"/>
        <DIF difName="R4I4R5Ib" ipcAddress="B"/>
        <DIF difName="R4I7R5Ib" ipcAddress="B"/>
        <DIF difName="R5IbR6I4" ipcAddress="A"/>
        <DIF difName="R5IbR6Ib" ipcAddress="A"/>
        <DIF difName="R5IbR9I8" ipcAddress="A"/>
      </APN>
      <APN apn="6.1_Cloud">
        <DIF difName="R6I1R6I6" ipcAddress="A"/>
        <DIF difName="R6I1R6I8" ipcAddress="A"/>
      </APN>
      <APN apn="6.2_Cloud">
        <DIF difName="R6I2R6I6" ipcAddress="A"/>
        <DIF difName="R6I2R6I9" ipcAddress="A"/>
      </APN>
      <APN apn="6.3_Cloud">
        <DIF difName="R6I3R6I4" ipcAddress="A"/>
        <DIF difName="R6I3R6I5" ipcAddress="A"/>
        <DIF difName="R6I3R6I6" ipcAddress="A"/>
        <DIF difName="R6I3R6I9" ipcAddress="A"/>
      </APN>
      <APN apn="6.4_Cloud">
        <DIF difName="R6I3R6I4" ipcAddress="B"/>
        <DIF difName="R6I4R6I6" ipcAddress="A"/>
        <DIF difName="R6I4R6I7" ipcAddress="A"/>
        <DIF difName="R1I3R6I4" ipcAddress="B"/>
        <DIF difName="R1I9R6I4" ipcAddress="B"/>
        <DIF difName="R4I4R6I4" ipcAddress="B"/>
        <DIF difName="R5I1R6I4" ipcAddress="B"/>
        <DIF difName="R5IbR6I4" ipcAddress="B"/>
        <DIF difName="R6I4R7I2" ipcAddress="A"/>
        <DIF difName="R6I4R7I7" ipcAddress="A"/>
        <DIF difName="R6I4R7I8" ipcAddress="A"/>
        <DIF difName="R6I4RaI2" ipcAddress="A"/>
        <DIF difName="R6I4RaI9" ipcAddress="A"/>
      </APN>
      <APN apn="6.5_Cloud">
        <DIF difName="R6I3R6I5" ipcAddress="B"/>
        <DIF difName="R6I5R6I8" ipcAddress="A"/>
      </APN>
      <APN apn="6.6_Cloud">
        <DIF difName="R6I1R6I6" ipcAddress="B"/>
        <DIF difName="R6I2R6I6" ipcAddress="B"/>
        <DIF difName="R6I3R6I6" ipcAddress="B"/>
        <DIF difName="R6I4R6I6" ipcAddress="B"/>
        <DIF difName="R6I6R6Ib" ipcAddress="A"/>
      </APN>
      <APN apn="6.7_Cloud">
        <DIF difName="R6I4R6I7" ipcAddress="B"/>
      </APN>
      <APN apn="6.8_Cloud">
        <DIF difName="R6I1R6I8" ipcAddress="B"/>
        <DIF difName="R6I5R6I8" ipcAddress="B"/>
        <DIF difName="R6I8R6Ia" ipcAddress="A"/>
      </APN>
      <APN apn="6.9_Cloud">
        <DIF difName="R6I2R6I9" ipcAddress="B"/>
        <DIF difName="R6I3R6I9" ipcAddress="B"/>
        <DIF difName="R6I9R6Ia" ipcAddress="A"/>
        <DIF difName="R6I9R6Ib" ipcAddress="A"/>
      </APN>
      <APN apn="6.a_Cloud">
        <DIF difName="R6I8R6Ia" ipcAddress="B"/>
        <DIF difName="R6I9R6Ia" ipcAddress="B"/>
        <DIF difName="R6IaR6Ib" ipcAddress="A"/>
      </APN>
      <APN apn="6.b_Cloud">
        <DIF difName="R6I6R6Ib" ipcAddress="B"/>
        <DIF difName="R6I9R6Ib" ipcAddress="B"/>
        <DIF difName="R6IaR6Ib" ipcAddress="B"/>
        <DIF difName="R1I3R6Ib" ipcAddress="B"/>
        <DIF difName="R4I4R6Ib" ipcAddress="B"/>
        <DIF difName="R5IbR6Ib" ipcAddress="B"/>
        <DIF difName="R6IbR8I5" ipcAddress="A"/>
        <DIF difName="R6IbR8I8" ipcAddress="A"/>
        <DIF difName="R6IbR8Ia" ipcAddress="A"/>
        <DIF difName="R6IbRaI9" ipcAddress="A"/>
      </APN>
      <APN apn="7.1_Cloud">
        <DIF difName="R7I1R7I2" ipcAddress="A"/>
        <DIF difName="R7I1R7I3" ipcAddress="A"/>
        <DIF difName="R7I1R7I4" ipcAddress="A"/>
        <DIF difName="R7I1R7I5" ipcAddress="A"/>
        <DIF difName="R7I1R7I8" ipcAddress="A"/>
      </APN>
      <APN apn="7.2_Cloud">
        <DIF difName="R7I1R7I2" ipcAddress="B"/>
        <DIF difName="R7I2R7I5" ipcAddress="A"/>
        <DIF difName="R7I2R7I7" ipcAddress="A"/>
        <DIF difName="R6I4R7I2" ipcAddress="B"/>
        <DIF difName="R7I2R9I8" ipcAddress="A"/>
      </APN>
      <APN apn="7.3_Cloud">
        <DIF difName="R7I1R7I3" ipcAddress="B"/>
        <DIF difName="R7I3R7I6" ipcAddress="A"/>
      </APN>
      <APN apn="7.4_Cloud">
        <DIF difName="R7I1R7I4" ipcAddress="B"/>
        <DIF difName="R7I4R7I5" ipcAddress="A"/>
      </APN>
      <APN apn="7.5_Cloud">
        <DIF difName="R7I1R7I5" ipcAddress="B"/>
        <DIF difName="R7I2R7I5" ipcAddress="B"/>
        <DIF difName="R7I4R7I5" ipcAddress="B"/>
        <DIF difName="R7I5R7I7" ipcAddress="A"/>
        <DIF difName="R7I5R7I8" ipcAddress="A"/>
      </APN>
      <APN apn="7.6_Cloud">
        <DIF difName="R7I3R7I6" ipcAddress="B"/>
        <DIF difName="R7I6R7I7" ipcAddress="A"/>
      </APN>
      <APN apn="7.7_Cloud">
        <DIF difName="R7I2R7I7" ipcAddress="B"/>
        <DIF difName="R7I5R7I7" ipcAddress="B"/>
        <DIF difName="R7I6R7I7" ipcAddress="B"/>
        <DIF difName="R3I5R7I7" ipcAddress="B"/>
        <DIF difName="R3I6R7I7" ipcAddress="B"/>
        <DIF difName="R6I4R7I7" ipcAddress="B"/>
        <DIF difName="R7I7R9I8" ipcAddress="A"/>
      </APN>
      <APN apn="7.8_Cloud">
        <DIF difName="R7I1R7I8" ipcAddress="B"/>
        <DIF difName="R7I5R7I8" ipcAddress="B"/>
        <DIF difName="R3I6R7I8" ipcAddress="B"/>
        <DIF difName="R6I4R7I8" ipcAddress="B"/>
        <DIF difName="R7I8R8I5" ipcAddress="A"/>
        <DIF difName="R7I8R8Ia" ipcAddress="A"/>
        <DIF difName="R7I8R9I3" ipcAddress="A"/>
      </APN>
      <APN apn="8.1_Cloud">
        <DIF difName="R8I1R8I4" ipcAddress="A"/>
        <DIF difName="R8I1R8I7" ipcAddress="A"/>
        <DIF difName="R8I1R8I8" ipcAddress="A"/>
        <DIF difName="R8I1R8Ib" ipcAddress="A"/>
      </APN>
      <APN apn="8.2_Cloud">
        <DIF difName="R8I2R8I5" ipcAddress="A"/>
        <DIF difName="R8I2R8I9" ipcAddress="A"/>
      </APN>
      <APN apn="8.3_Cloud">
        <DIF difName="R8I3R8I7" ipcAddress="A"/>
        <DIF difName="R8I3R8I9" ipcAddress="A"/>
      </APN>
      <APN apn="8.4_Cloud">
        <DIF difName="R8I1R8I4" ipcAddress="B"/>
        <DIF difName="R8I4R8I8" ipcAddress="A"/>
      </APN>
      <APN apn="8.5_Cloud">
        <DIF difName="R8I2R8I5" ipcAddress="B"/>
        <DIF difName="R8I5R8I7" ipcAddress="A"/>
        <DIF difName="R8I5R8I9" ipcAddress="A"/>
        <DIF difName="R6IbR8I5" ipcAddress="B"/>
        <DIF difName="R7I8R8I5" ipcAddress="B"/>
      </APN>
      <APN apn="8.6_Cloud">
        <DIF difName="R8I6R8I7" ipcAddress="A"/>
        <DIF difName="R8I6R8I9" ipcAddress="A"/>
      </APN>
      <APN apn="8.7_Cloud">
        <DIF difName="R8I1R8I7" ipcAddress="B"/>
        <DIF difName="R8I3R8I7" ipcAddress="B"/>
        <DIF difName="R8I5R8I7" ipcAddress="B"/>
        <DIF difName="R8I6R8I7" ipcAddress="B"/>
        <DIF difName="R8I7R8Ia" ipcAddress="A"/>
        <DIF difName="R8I7R8Ib" ipcAddress="A"/>
      </APN>
      <APN apn="8.8_Cloud">
        <DIF difName="R8I1R8I8" ipcAddress="B"/>
        <DIF difName="R8I4R8I8" ipcAddress="B"/>
        <DIF difName="R5I1R8I8" ipcAddress="B"/>
        <DIF difName="R5I8R8I8" ipcAddress="B"/>
        <DIF difName="R6IbR8I8" ipcAddress="B"/>
      </APN>
      <APN apn="8.9_Cloud">
        <DIF difName="R8I2R8I9" ipcAddress="B"/>
        <DIF difName="R8I3R8I9" ipcAddress="B"/>
        <DIF difName="R8I5R8I9" ipcAddress="B"/>
        <DIF difName="R8I6R8I9" ipcAddress="B"/>
      </APN>
      <APN apn="8.a_Cloud">
        <DIF difName="R8I7R8Ia" ipcAddress="B"/>
        <DIF difName="R8IaR8Ib" ipcAddress="A"/>
        <DIF difName="R6IbR8Ia" ipcAddress="B"/>
        <DIF difName="R7I8R8Ia" ipcAddress="B"/>
      </APN>
      <APN apn="8.b_Cloud">
        <DIF difName="R8I1R8Ib" ipcAddress="B"/>
        <DIF difName="R8I7R8Ib" ipcAddress="B"/>
        <DIF difName="R8IaR8Ib" ipcAddress="B"/>
      </APN>
      <APN apn="9.1_Cloud">
        <DIF difName="R9I1R9I2" ipcAddress="A"/>
      </APN>
      <APN apn="9.2_Cloud">
        <DIF difName="R9I1R9I2" ipcAddress="B"/>
        <DIF difName="R9I2R9I3" ipcAddress="A"/>
        <DIF difName="R9I2R9I6" ipcAddress="A"/>
      </APN>
      <APN apn="9.3_Cloud">
        <DIF difName="R9I2R9I3" ipcAddress="B"/>
        <DIF difName="R9I3R9I6" ipcAddress="A"/>
        <DIF difName="R9I3R9I9" ipcAddress="A"/>
        <DIF difName="R7I8R9I3" ipcAddress="B"/>
        <DIF difName="R9I3RaI9" ipcAddress="A"/>
      </APN>
      <APN apn="9.4_Cloud">
        <DIF difName="R9I4R9I5" ipcAddress="A"/>
        <DIF difName="R9I4R9I7" ipcAddress="A"/>
        <DIF difName="R9I4R9I8" ipcAddress="A"/>
      </APN>
      <APN apn="9.5_Cloud">
        <DIF difName="R9I4R9I5" ipcAddress="B"/>
        <DIF difName="R9I5R9I6" ipcAddress="A"/>
        <DIF difName="R9I5R9I7" ipcAddress="A"/>
      </APN>
      <APN apn="9.6_Cloud">
        <DIF difName="R9I2R9I6" ipcAddress="B"/>
        <DIF difName="R9I3R9I6" ipcAddress="B"/>
        <DIF difName="R9I5R9I6" ipcAddress="B"/>
        <DIF difName="R9I6R9I8" ipcAddress="A"/>
        <DIF difName="R9I6R9I9" ipcAddress="A"/>
        <DIF difName="R3I6R9I6" ipcAddress="B"/>
        <DIF difName="R5I1R9I6" ipcAddress="B"/>
        <DIF difName="R9I6RaI2" ipcAddress="A"/>
      </APN>
      <APN apn="9.7_Cloud">
        <DIF difName="R9I4R9I7" ipcAddress="B"/>
        <DIF difName="R9I5R9I7" ipcAddress="B"/>
        <DIF difName="R9I7R9I8" ipcAddress="A"/>
      </APN>
      <APN apn="9.8_Cloud">
        <DIF difName="R9I4R9I8" ipcAddress="B"/>
        <DIF difName="R9I6R9I8" ipcAddress="B"/>
        <DIF difName="R9I7R9I8" ipcAddress="B"/>
        <DIF difName="R3I5R9I8" ipcAddress="B"/>
        <DIF difName="R5I8R9I8" ipcAddress="B"/>
        <DIF difName="R5IbR9I8" ipcAddress="B"/>
        <DIF difName="R7I2R9I8" ipcAddress="B"/>
        <DIF difName="R7I7R9I8" ipcAddress="B"/>
        <DIF difName="R9I8RaI2" ipcAddress="A"/>
      </APN>
      <APN apn="9.9_Cloud">
        <DIF difName="R9I3R9I9" ipcAddress="B"/>
        <DIF difName="R9I6R9I9" ipcAddress="B"/>
      </APN>
      <APN apn="a.1_Cloud">
        <DIF difName="RaI1RaI6" ipcAddress="A"/>
        <DIF difName="RaI1RaI7" ipcAddress="A"/>
      </APN>
      <APN apn="a.2_Cloud">
        <DIF difName="RaI2RaI7" ipcAddress="A"/>
        <DIF difName="RaI2RaI8" ipcAddress="A"/>
        <DIF difName="RaI2RaI9" ipcAddress="A"/>
        <DIF difName="R6I4RaI2" ipcAddress="B"/>
        <DIF difName="R9I6RaI2" ipcAddress="B"/>
        <DIF difName="R9I8RaI2" ipcAddress="B"/>
      </APN>
      <APN apn="a.3_Cloud">
        <DIF difName="RaI3RaI5" ipcAddress="A"/>
        <DIF difName="RaI3RaI6" ipcAddress="A"/>
        <DIF difName="RaI3RaI9" ipcAddress="A"/>
      </APN>
      <APN apn="a.4_Cloud">
        <DIF difName="RaI4RaI6" ipcAddress="A"/>
      </APN>
      <APN apn="a.5_Cloud">
        <DIF difName="RaI3RaI5" ipcAddress="B"/>
        <DIF difName="RaI5RaI6" ipcAddress="A"/>
        <DIF difName="RaI5RaI9" ipcAddress="A"/>
      </APN>
      <APN apn="a.6_Cloud">
        <DIF difName="RaI1RaI6" ipcAddress="B"/>
        <DIF difName="RaI3RaI6" ipcAddress="B"/>
        <DIF difName="RaI4RaI6" ipcAddress="B"/>
        <DIF difName="RaI5RaI6" ipcAddress="B"/>
        <DIF difName="RaI6RaI9" ipcAddress="A"/>
      </APN>
      <APN apn="a.7_Cloud">
        <DIF difName="RaI1RaI7" ipcAddress="B"/>
        <DIF difName="RaI2RaI7" ipcAddress="B"/>
        <DIF difName="RaI7RaI9" ipcAddress="A"/>
      </APN>
      <APN apn="a.8_Cloud">
        <DIF difName="RaI2RaI8" ipcAddress="B"/>
      </APN>
      <APN apn="a.9_Cloud">
        <DIF difName="RaI2RaI9" ipcAddress="B"/>
        <DIF difName="RaI3RaI9" ipcAddress="B"/>
        <DIF difName="RaI5RaI9" ipcAddress="B"/>
        <DIF difName="RaI6RaI9" ipcAddress="B"/>
        <DIF difName="RaI7RaI9" ipcAddress="B"/>
        <DIF difName="R6I4RaI9" ipcAddress="B"/>
        <DIF difName="R6IbRaI9" ipcAddress="B"/>
        <DIF difName="R9I3RaI9" ipcAddress="B"/>
      </APN>
    </Directory>
  </DA>
<QoSReqSet>
		<QosReq id="1">
			<AverageBandwidth>12000000</AverageBandwidth>
			<AverageSDUBandwidth>1000</AverageSDUBandwidth>
			<PeakBandwidthDuration>24000000</PeakBandwidthDuration>
			<PeakSDUBandwidthDuration>2000</PeakSDUBandwidthDuration>
			<BurstPeriod>10000000</BurstPeriod>
			<BurstDuration>1000000</BurstDuration>
			<UndetectedBitError>0.01</UndetectedBitError>
			<PDUDroppingProbability>0</PDUDroppingProbability>
			<MaxSDUSize>1500</MaxSDUSize>
			<PartialDelivery>0</PartialDelivery>
			<IncompleteDelivery>0</IncompleteDelivery>
			<ForceOrder>0</ForceOrder>
			<MaxAllowableGap>0</MaxAllowableGap>
			<Delay>1000000</Delay>
			<Jitter>500000</Jitter>
			<CostTime>0</CostTime>
			<CostBits>0</CostBits>
			<ATime>0</ATime>						
		</QosReq>
		<QosReq id="2">
			<AverageBandwidth>12000000</AverageBandwidth>
			<AverageSDUBandwidth>1000</AverageSDUBandwidth>
			<PeakBandwidthDuration>24000000</PeakBandwidthDuration>
			<PeakSDUBandwidthDuration>2000</PeakSDUBandwidthDuration>
			<BurstPeriod>10000000</BurstPeriod>
			<BurstDuration>1000000</BurstDuration>
			<UndetectedBitError>0.01</UndetectedBitError>
			<PDUDroppingProbability>0</PDUDroppingProbability>
			<MaxSDUSize>1500</MaxSDUSize>
			<PartialDelivery>0</PartialDelivery>
			<IncompleteDelivery>0</IncompleteDelivery>
			<ForceOrder>1</ForceOrder>
			<MaxAllowableGap>0</MaxAllowableGap>
			<Delay>1000000</Delay>
			<Jitter>500000</Jitter>
			<CostTime>0</CostTime>
			<CostBits>0</CostBits>
			<ATime>0</ATime>						
		</QosReq>		
</QoSReqSet>
<QoSCubesSet>
		<QosCube id="1">
			<AverageBandwidth>12000000</AverageBandwidth>
			<AverageSDUBandwidth>1000</AverageSDUBandwidth>
			<PeakBandwidthDuration>24000000</PeakBandwidthDuration>
			<PeakSDUBandwidthDuration>2000</PeakSDUBandwidthDuration>
			<BurstPeriod>10000000</BurstPeriod>
			<BurstDuration>1000000</BurstDuration>
			<UndetectedBitError>0.01</UndetectedBitError>
			<PDUDroppingProbability>0</PDUDroppingProbability>
			<MaxSDUSize>1500</MaxSDUSize>
			<PartialDelivery>0</PartialDelivery>
			<IncompleteDelivery>0</IncompleteDelivery>
			<ForceOrder>0</ForceOrder>
			<MaxAllowableGap>0</MaxAllowableGap>
			<Delay>1000000</Delay>
			<Jitter>500000</Jitter>
			<CostTime>0</CostTime>
			<CostBits>0</CostBits>
			<ATime>0</ATime>						
		</QosCube>
		<QosCube id="2">
			<AverageBandwidth>12000000</AverageBandwidth>
			<AverageSDUBandwidth>1000</AverageSDUBandwidth>
			<PeakBandwidthDuration>24000000</PeakBandwidthDuration>
			<PeakSDUBandwidthDuration>2000</PeakSDUBandwidthDuration>
			<BurstPeriod>10000000</BurstPeriod>
			<BurstDuration>1000000</BurstDuration>
			<UndetectedBitError>0.01</UndetectedBitError>
			<PDUDroppingProbability>0</PDUDroppingProbability>
			<MaxSDUSize>1500</MaxSDUSize>
			<PartialDelivery>0</PartialDelivery>
			<IncompleteDelivery>0</IncompleteDelivery>
			<ForceOrder>1</ForceOrder>
			<MaxAllowableGap>0</MaxAllowableGap>
			<Delay>1000000</Delay>
			<Jitter>500000</Jitter>
			<CostTime>0</CostTime>
			<CostBits>0</CostBits>
			<ATime>0</ATime>						
		</QosCube>		
	</QoSCubesSet>

</Configuration>
