<?xml version="1.0"?>
<Configuration>
	<Host id="host1">
		<DA>
			<Directory>
				<APNtoDIF apn="App2" 	ipcAddress="12" />
				<APNtoDIF apn="AppErr" 	ipcAddress="11" />
				<APNtoDIF apn="12" 		ipcAddress="2" />
			</Directory>
		</DA>
		<RA>
			<PDUFwdTabGenerator>
				<FwTableItem dest="12"	qosId="0"	outputIpc="ipcProcess0"/>
			</PDUFwdTabGenerator>
		</RA>		
	</Host>
	<Host id="host2">
		<DA>
			<Directory>
				<APNtoDIF apn="App1" 	ipcAddress="11" />
				<APNtoDIF apn="AppErr" 	ipcAddress="12" />
			</Directory>
		</DA>
		<RA>
			<PDUFwdTabGenerator>
				<FwTableItem dest="11"	qosId="0"	outputIpc="ipcProcess0"/>
			</PDUFwdTabGenerator>
		</RA>		
	</Host>
</Configuration>