<?xml version="1.0"?>
<Configuration>
	<Host id="host1">
		<DA>
			<Directory>
				<APNtoDIF apn="App2" 	ipcAddress="2" />
				<APNtoDIF apn="AppErr" 	ipcAddress="2" />
			</Directory>
		</DA>
		<RA>
			<PDUFwdTabGenerator>
				<FwTableItem dest="App2"	qosId="1"	portId="1"/>
			</PDUFwdTabGenerator>
		</RA>		
	</Host>
	<Host id="host2">
		<DA>
			<Directory>
				<APNtoDIF apn="App1" 	ipcAddress="1" />
				<APNtoDIF apn="AppErr" 	ipcAddress="2" />
			</Directory>
		</DA>
		<RA>
			<PDUFwdTabGenerator>
				<FwTableItem dest="App1"	qosId="2"	portId="2"/>
			</PDUFwdTabGenerator>
		</RA>		
	</Host>
</Configuration>