<?xml version="1.0"?>
<Configuration>	
	<Node id="All">
		<!--
			This contains the whole mapping of the network. 
			It can be used to the Dif Allocator of every element.
		-->
		<DA>
			<Directory>
				<!-- 
					How the DIF name are formatted? 
					They contain, for reading purposes, the initial letter of the "upper"
					element in the simulation and the initial letter of the "bottom" element.
					Example: A1T1 means Aggregator1 to Tor1.
			  	-->
			  	
			  	<!-- Aggregator side naming of the Shims -->
				<APN apn="AS1_DC">
					<DIF difName="A1T1" ipcAddress="1"/>
					<DIF difName="A1T2" ipcAddress="1"/>
				</APN>
				<APN apn="AS2_DC">
					<DIF difName="A2T1" ipcAddress="1"/>
					<DIF difName="A2T2" ipcAddress="1"/>
				</APN>
	
				<!-- TOR side naming of the Shims -->
				<APN apn="TOR1_DC">
					<DIF difName="A1T1" ipcAddress="2"/>
					<DIF difName="A2T1" ipcAddress="2"/>
					
					<DIF difName="T1S1" ipcAddress="1"/>
					<DIF difName="T1S2" ipcAddress="1"/>
				</APN>
				<APN apn="TOR2_DC">
					<DIF difName="A1T2" ipcAddress="2"/>
					<DIF difName="A2T2" ipcAddress="2"/>
					
					<DIF difName="T2S3" ipcAddress="1"/>
					<DIF difName="T2S4" ipcAddress="1"/>
				</APN>
				
				<!-- Server side naming of the Shims -->
				<APN apn="S1_DC">
					<DIF difName="T1S1" ipcAddress="2"/>
				</APN>
				<APN apn="S2_DC">
					<DIF difName="T1S2" ipcAddress="2"/>
				</APN>
				<APN apn="S3_DC">
					<DIF difName="T2S3" ipcAddress="2"/>
				</APN>
				<APN apn="S4_DC">
					<DIF difName="T2S4" ipcAddress="2"/>
				</APN>
				
				<!-- AE side naming of the DC IPCs -->
				<APN apn="App1">
					<DIF difName="DC" ipcAddress="S1"/>
				</APN>
				<APN apn="App2">
					<DIF difName="DC" ipcAddress="S2"/>
				</APN>
				<APN apn="App3">
					<DIF difName="DC" ipcAddress="S3"/>
				</APN>
				<APN apn="App4">
					<DIF difName="DC" ipcAddress="S4"/>
				</APN>
			</Directory>
			<NeighborTable>
				<APN apn="AS1_DC">
					<Neighbor apn="TOR1_DC" />
					<Neighbor apn="TOR2_DC" />
				</APN>
				<APN apn="AS2_DC">
					<Neighbor apn="TOR1_DC" />
					<Neighbor apn="TOR2_DC" />
				</APN>
				<APN apn="TOR1_DC">
					<Neighbor apn="AS1_DC" />
					<Neighbor apn="AS2_DC" />
					<Neighbor apn="S1_DC" />
					<Neighbor apn="S2_DC" />
				</APN>
				<APN apn="TOR1_DC">
					<Neighbor apn="TOR1_DC" />
					<Neighbor apn="TOR2_DC" />
					<Neighbor apn="S3_DC" />
					<Neighbor apn="S4_DC" />
				</APN>
				<APN apn="S1_DC">
					<Neighbor apn="TOR1_DC" />
				</APN>
				<APN apn="S2_DC">
					<Neighbor apn="TOR1_DC" />
				</APN>
				<APN apn="S3_DC">
					<Neighbor apn="TOR2_DC" />
				</APN>
				<APN apn="S4_DC">
					<Neighbor apn="TOR2_DC" />
				</APN>
			</NeighborTable>
		</DA>
	</Node>
	

</Configuration>
