<?xml version="1.0"?>
<Configuration>

	<Host id="HostA">
		<DA>
			<Directory>
				<APN apn="SourceA">
					<DIF difName="TopLayer" ipcAddress="hA" />
				</APN>
				<APN apn="DestinationB">
					<DIF difName="TopLayer" ipcAddress="hB" />
				</APN>
				
				<APN apn="hA_TopLayer">
					<DIF difName="MediumLayerA" ipcAddress="ha" />
				</APN>
				<APN apn="hB_TopLayer">
					<DIF difName="MediumLayerB" ipcAddress="hb" />
				</APN>
				
				<APN apn="rA_TopLayer">
					<DIF difName="MediumLayerA" ipcAddress="ra" />					
					<DIF difName="MediumLayerAB" ipcAddress="rA" />										
				</APN>
				<APN apn="rB_TopLayer">
					<DIF difName="MediumLayerB" ipcAddress="rb" />					
					<DIF difName="MediumLayerAB" ipcAddress="rB" />										
				</APN>

				<APN apn="rA_MediumLayerAB">
					<DIF difName="BottomLayerA" ipcAddress="ra" />
				</APN>
				<APN apn="rB_MediumLayerAB">
					<DIF difName="BottomLayerB" ipcAddress="rb" />
				</APN>
				<APN apn="rC_MediumLayerAB">
					<DIF difName="BottomLayerA" ipcAddress="rc" />
					<DIF difName="BottomLayerB" ipcAddress="rc" />
				</APN>
			</Directory>
			<NeighborTable>
				<APN apn="hA_TopLayer">
					<Neighbor apn="rA_TopLayer" />
				</APN>						
				<APN apn="hB_TopLayer">
					<Neighbor apn="rA_TopLayer" />
				</APN>			
			</NeighborTable>
		</DA>	
	</Host>

	<Host id="HostB">
		<DA>
			<NeighborTable>
				<APN apn="hA_TopLayer">
					<Neighbor apn="rB_TopLayer" />
				</APN>						
				<APN apn="hB_TopLayer">
					<Neighbor apn="rB_TopLayer" />
				</APN>													
			</NeighborTable>
		</DA>	
		<Enrollment>
			<Preenrollment>
	            <SimTime t="5">
	                <Connect src="hB_TopLayer" dst="rB_TopLayer" />
	            </SimTime>
			</Preenrollment>
		</Enrollment>	
	</Host>
	
	<Router id="BorderRouterA">
		<DA>
			<NeighborTable>
				<APN apn="hB_TopLayer">
					<Neighbor apn="rB_TopLayer" />
				</APN>	
				<APN apn="rB_MediumLayerAB">
					<Neighbor apn="rC_MediumLayerAB" />
				</APN>									
			</NeighborTable>			
		</DA>
		<Enrollment id='bottomIpc'>
			<Preenrollment>
	            <SimTime t="1">
	                <Connect src="ra_BottomLayerA" dst="rc_BottomLayerA" />
	            </SimTime>	            
			</Preenrollment>
		</Enrollment>			
		<Enrollment id='ipcProcess2'>
			<Preenrollment>
	            <SimTime t="1.5">
	                <Connect src="rA_MediumLayerAB" dst="rC_MediumLayerAB" />
	            </SimTime>	            
			</Preenrollment>
		</Enrollment>			
	</Router>

	<Router id="BorderRouterB">
		<DA>
			<NeighborTable>
				<APN apn="hA_TopLayer">
					<Neighbor apn="rA_TopLayer" />
				</APN>		
				<APN apn="rA_MediumLayerAB">
					<Neighbor apn="rC_MediumLayerAB" />
				</APN>																	
			</NeighborTable>						
		</DA>
		<Enrollment id='relayIpc'>
			<Preenrollment>
	            <SimTime t="2">
	                <Connect src="rB_TopLayer" dst="rA_TopLayer" />	                
	            </SimTime>	            
			</Preenrollment>
		</Enrollment>				
	</Router>

	<Router id="InteriorRouter">
		<DA>
			<NeighborTable>
				<APN apn="hA_TopLayer">
					<Neighbor apn="rB_TopLayer" />
				</APN>						
			</NeighborTable>			
		</DA>				
	</Router>


	<QoSCubesSet>
		<QoSCube id="QoSCube-UNRELIABLE">
			<AverageBandwidth>12000000</AverageBandwidth>
			<AverageSDUBandwidth>1000</AverageSDUBandwidth>
			<PeakBandwidthDuration>24000000</PeakBandwidthDuration>
			<PeakSDUBandwidthDuration>2000</PeakSDUBandwidthDuration>
			<BurstPeriod>10000000</BurstPeriod>
			<BurstDuration>1000000</BurstDuration>
			<UndetectedBitError>0.01</UndetectedBitError>
			<PDUDroppingProbability>0</PDUDroppingProbability>
			<MaxSDUSize>1500</MaxSDUSize>
			<PartialDelivery>0</PartialDelivery>
			<IncompleteDelivery>0</IncompleteDelivery>
			<ForceOrder>0</ForceOrder>
			<MaxAllowableGap>0</MaxAllowableGap>
			<Delay>1000000</Delay>
			<Jitter>500000</Jitter>
			<CostTime>0</CostTime>
			<CostBits>0</CostBits>
			<ATime>0</ATime>						
		</QoSCube>
		<QoSCube id="QoSCube-RELIABLE">
			<AverageBandwidth>12000000</AverageBandwidth>
			<AverageSDUBandwidth>1000</AverageSDUBandwidth>
			<PeakBandwidthDuration>24000000</PeakBandwidthDuration>
			<PeakSDUBandwidthDuration>2000</PeakSDUBandwidthDuration>
			<BurstPeriod>10000000</BurstPeriod>
			<BurstDuration>1000000</BurstDuration>
			<UndetectedBitError>0.01</UndetectedBitError>
			<PDUDroppingProbability>0</PDUDroppingProbability>
			<MaxSDUSize>1500</MaxSDUSize>
			<PartialDelivery>0</PartialDelivery>
			<IncompleteDelivery>0</IncompleteDelivery>
			<ForceOrder>1</ForceOrder>
			<MaxAllowableGap>0</MaxAllowableGap>
			<Delay>1000000</Delay>
			<Jitter>500000</Jitter>
			<CostTime>0</CostTime>
			<CostBits>0</CostBits>
			<ATime>0</ATime>						
		</QoSCube>		
	</QoSCubesSet>
</Configuration>
