<?xml version="1.0"?>
<Configuration>
  <DA>
    <Directory>
		<APN apn="S-00">
			<DIF difName="Man-00" ipcAddress="0" />
		</APN>
		<APN apn="S-01">
			<DIF difName="Man-01" ipcAddress="0" />
		</APN>
		<APN apn="S-02">
			<DIF difName="Man-02" ipcAddress="0" />
		</APN>
		<APN apn="S-03">
			<DIF difName="Man-03" ipcAddress="0" />
		</APN>
		<APN apn="S-10">
			<DIF difName="Man-10" ipcAddress="0" />
		</APN>
		<APN apn="S-11">
			<DIF difName="Man-11" ipcAddress="0" />
		</APN>
		<APN apn="S-12">
			<DIF difName="Man-12" ipcAddress="0" />
		</APN>
		<APN apn="S-13">
			<DIF difName="Man-13" ipcAddress="0" />
		</APN>
		<APN apn="S-20">
			<DIF difName="Man-20" ipcAddress="0" />
		</APN>
		<APN apn="S-21">
			<DIF difName="Man-21" ipcAddress="0" />
		</APN>
		<APN apn="S-22">
			<DIF difName="Man-22" ipcAddress="0" />
		</APN>
		<APN apn="S-23">
			<DIF difName="Man-23" ipcAddress="0" />
		</APN>
		<APN apn="S-30">
			<DIF difName="Man-30" ipcAddress="0" />
		</APN>
		<APN apn="S-31">
			<DIF difName="Man-31" ipcAddress="0" />
		</APN>
		<APN apn="S-32">
			<DIF difName="Man-32" ipcAddress="0" />
		</APN>
		<APN apn="S-33">
			<DIF difName="Man-33" ipcAddress="0" />
		</APN>
		
		
		<APN apn="C-00">
			<DIF difName="Man-00" ipcAddress="00" />
		</APN>
		<APN apn="C-01">
			<DIF difName="Man-01" ipcAddress="01" />
		</APN>
		<APN apn="C-02">
			<DIF difName="Man-02" ipcAddress="02" />
		</APN>
		<APN apn="C-03">
			<DIF difName="Man-03" ipcAddress="03" />
		</APN>
		<APN apn="C-10">
			<DIF difName="Man-10" ipcAddress="10" />
		</APN>
		<APN apn="C-11">
			<DIF difName="Man-11" ipcAddress="11" />
		</APN>
		<APN apn="C-12">
			<DIF difName="Man-12" ipcAddress="12" />
		</APN>
		<APN apn="C-13">
			<DIF difName="Man-13" ipcAddress="13" />
		</APN>
		<APN apn="C-20">
			<DIF difName="Man-20" ipcAddress="20" />
		</APN>
		<APN apn="C-21">
			<DIF difName="Man-21" ipcAddress="21" />
		</APN>
		<APN apn="C-22">
			<DIF difName="Man-22" ipcAddress="22" />
		</APN>
		<APN apn="C-23">
			<DIF difName="Man-23" ipcAddress="23" />
		</APN>
		<APN apn="C-30">
			<DIF difName="Man-30" ipcAddress="30" />
		</APN>
		<APN apn="C-31">
			<DIF difName="Man-31" ipcAddress="31" />
		</APN>
		<APN apn="C-32">
			<DIF difName="Man-32" ipcAddress="32" />
		</APN>
		<APN apn="C-33">
			<DIF difName="Man-33" ipcAddress="33" />
		</APN>
		
		
		
		<APN apn="A_NET">
			<DIF difName="A-00" ipcAddress="A" />
		</APN>
		<APN apn="B_NET">
			<DIF difName="B-03" ipcAddress="B" />
		</APN>
		<APN apn="C_NET">
			<DIF difName="C-30" ipcAddress="C" />
		</APN>
		<APN apn="D_NET">
			<DIF difName="D-33" ipcAddress="D" />
		</APN>
		
		<APN apn="00_NET">
			<DIF difName="A-00" ipcAddress="00" />
			<DIF difName="00-01" ipcAddress="00" />
			<DIF difName="00-10" ipcAddress="00" />
		</APN>
		<APN apn="01_NET">
			<DIF difName="00-01" ipcAddress="01" />
			<DIF difName="01-02" ipcAddress="01" />
			<DIF difName="01-11" ipcAddress="01" />
		</APN>
		<APN apn="02_NET">
			<DIF difName="01-02" ipcAddress="02" />
			<DIF difName="02-03" ipcAddress="02" />
			<DIF difName="02-12" ipcAddress="02" />
		</APN>
		<APN apn="03_NET">
			<DIF difName="B-03" ipcAddress="03" />
			<DIF difName="02-03" ipcAddress="03" />
			<DIF difName="03-13" ipcAddress="03" />
		</APN>
		
		<APN apn="10_NET">
			<DIF difName="10-11" ipcAddress="10" />
			<DIF difName="00-10" ipcAddress="10" />
			<DIF difName="10-20" ipcAddress="10" />
		</APN>
		<APN apn="11_NET">
			<DIF difName="10-11" ipcAddress="11" />
			<DIF difName="11-12" ipcAddress="11" />
			<DIF difName="01-11" ipcAddress="11" />
			<DIF difName="11-21" ipcAddress="11" />
		</APN>
		<APN apn="12_NET">
			<DIF difName="11-12" ipcAddress="12" />
			<DIF difName="12-13" ipcAddress="12" />
			<DIF difName="02-12" ipcAddress="12" />
			<DIF difName="12-22" ipcAddress="12" />
		</APN>
		<APN apn="13_NET">
			<DIF difName="12-13" ipcAddress="13" />
			<DIF difName="03-13" ipcAddress="13" />
			<DIF difName="13-23" ipcAddress="13" />
		</APN>
		
		<APN apn="20_NET">
			<DIF difName="20-21" ipcAddress="20" />
			<DIF difName="10-20" ipcAddress="20" />
			<DIF difName="20-30" ipcAddress="20" />
		</APN>
		<APN apn="21_NET">
			<DIF difName="20-21" ipcAddress="21" />
			<DIF difName="21-22" ipcAddress="21" />
			<DIF difName="11-21" ipcAddress="21" />
			<DIF difName="21-31" ipcAddress="21" />
		</APN>
		<APN apn="22_NET">
			<DIF difName="21-22" ipcAddress="22" />
			<DIF difName="22-23" ipcAddress="22" />
			<DIF difName="12-22" ipcAddress="22" />
			<DIF difName="22-32" ipcAddress="22" />
		</APN>
		<APN apn="23_NET">
			<DIF difName="22-23" ipcAddress="23" />
			<DIF difName="13-23" ipcAddress="23" />
			<DIF difName="23-33" ipcAddress="23" />
		</APN>
		
		<APN apn="30_NET">
			<DIF difName="C-30" ipcAddress="30" />
			<DIF difName="30-31" ipcAddress="30" />
			<DIF difName="20-30" ipcAddress="30" />
		</APN>
		<APN apn="31_NET">
			<DIF difName="30-31" ipcAddress="31" />
			<DIF difName="31-32" ipcAddress="31" />
			<DIF difName="21-31" ipcAddress="31" />
		</APN>
		<APN apn="32_NET">
			<DIF difName="31-32" ipcAddress="32" />
			<DIF difName="32-33" ipcAddress="32" />
			<DIF difName="22-32" ipcAddress="32" />
		</APN>
		<APN apn="33_NET">
			<DIF difName="D-33" ipcAddress="33" />
			<DIF difName="32-33" ipcAddress="33" />
			<DIF difName="23-33" ipcAddress="33" />
		</APN>
    </Directory>
  </DA>
</Configuration>
