<?xml version="1.0"?>
<Configuration>
    <ConnectionSets>
        <ConnectionSet id="all">
            <SimTime t="0">
                <Connection src="0_DC" dst="1_DC" qosCube="1"/>
                <Connection src="0.0_DC" dst="0_DC" qosCube="1"/>
                <Connection src="0.0.0_DC" dst="0.0_DC" qosCube="1"/>
                <Connection src="0.0.0.s_DC" dst="0.0.0_DC" qosCube="1"/>
                <Connection src="0.0.1_DC" dst="0.0_DC" qosCube="1"/>
                <Connection src="0.0.1.s_DC" dst="0.0.1_DC" qosCube="1"/>
                <Connection src="0.0.2_DC" dst="0.0_DC" qosCube="1"/>
                <Connection src="0.0.2.s_DC" dst="0.0.2_DC" qosCube="1"/>
                <Connection src="0.1_DC" dst="0_DC" qosCube="1"/>
                <Connection src="0.1.0_DC" dst="0.1_DC" qosCube="1"/>
                <Connection src="0.1.0.s_DC" dst="0.1.0_DC" qosCube="1"/>
                <Connection src="0.1.1_DC" dst="0.1_DC" qosCube="1"/>
                <Connection src="0.1.1.s_DC" dst="0.1.1_DC" qosCube="1"/>
                <Connection src="0.1.2_DC" dst="0.1_DC" qosCube="1"/>
                <Connection src="0.1.2.s_DC" dst="0.1.2_DC" qosCube="1"/>
                <Connection src="0.2_DC" dst="0_DC" qosCube="1"/>
                <Connection src="0.2.0_DC" dst="0.2_DC" qosCube="1"/>
                <Connection src="0.2.0.s_DC" dst="0.2.0_DC" qosCube="1"/>
                <Connection src="0.2.1_DC" dst="0.2_DC" qosCube="1"/>
                <Connection src="0.2.1.s_DC" dst="0.2.1_DC" qosCube="1"/>
                <Connection src="0.2.2_DC" dst="0.2_DC" qosCube="1"/>
                <Connection src="0.2.2.s_DC" dst="0.2.2_DC" qosCube="1"/>
                <Connection src="1.0_DC" dst="1_DC" qosCube="1"/>
                <Connection src="1.0.0_DC" dst="1.0_DC" qosCube="1"/>
                <Connection src="1.0.0.s_DC" dst="1.0.0_DC" qosCube="1"/>
                <Connection src="1.0.1_DC" dst="1.0_DC" qosCube="1"/>
                <Connection src="1.0.1.s_DC" dst="1.0.1_DC" qosCube="1"/>
                <Connection src="1.0.2_DC" dst="1.0_DC" qosCube="1"/>
                <Connection src="1.0.2.s_DC" dst="1.0.2_DC" qosCube="1"/>
                <Connection src="1.1_DC" dst="1_DC" qosCube="1"/>
                <Connection src="1.1.0_DC" dst="1.1_DC" qosCube="1"/>
                <Connection src="1.1.0.s_DC" dst="1.1.0_DC" qosCube="1"/>
                <Connection src="1.1.1_DC" dst="1.1_DC" qosCube="1"/>
                <Connection src="1.1.1.s_DC" dst="1.1.1_DC" qosCube="1"/>
                <Connection src="1.1.2_DC" dst="1.1_DC" qosCube="1"/>
                <Connection src="1.1.2.s_DC" dst="1.1.2_DC" qosCube="1"/>
                <Connection src="1.2_DC" dst="1_DC" qosCube="1"/>
                <Connection src="1.2.0_DC" dst="1.2_DC" qosCube="1"/>
                <Connection src="1.2.0.s_DC" dst="1.2.0_DC" qosCube="1"/>
                <Connection src="1.2.1_DC" dst="1.2_DC" qosCube="1"/>
                <Connection src="1.2.1.s_DC" dst="1.2.1_DC" qosCube="1"/>
                <Connection src="1.2.2_DC" dst="1.2_DC" qosCube="1"/>
                <Connection src="1.2.2_DC" dst="1.2.1_DC" qosCube="1"/>
                <Connection src="1.2.2.s_DC" dst="1.2.2_DC" qosCube="1"/>
            </SimTime>
        </ConnectionSet>
    </ConnectionSets>            

  <DA>
    <Directory>
      <APN apn="0_DC">
        <DIF difName="S" ipcAddress="A"/>
        <DIF difName="S0_0" ipcAddress="A"/>
        <DIF difName="S0_1" ipcAddress="A"/>
        <DIF difName="S0_2" ipcAddress="A"/>
      </APN>
      <APN apn="0.0_DC">
        <DIF difName="S0_0" ipcAddress="B"/>
        <DIF difName="S1_0" ipcAddress="A"/>
        <DIF difName="S1_1" ipcAddress="A"/>
        <DIF difName="S1_2" ipcAddress="A"/>
      </APN>
      <APN apn="0.0.0_DC">
        <DIF difName="S1_0" ipcAddress="B"/>
        <DIF difName="S2_app" ipcAddress="A"/>
      </APN>
      <APN apn="0.0.0.s_DC">
        <DIF difName="S2_app" ipcAddress="B"/>
      </APN>
      <APN apn="0.0.1_DC">
        <DIF difName="S1_1" ipcAddress="B"/>
        <DIF difName="S2_app" ipcAddress="A"/>
      </APN>
      <APN apn="0.0.1.s_DC">
        <DIF difName="S2_app" ipcAddress="B"/>
      </APN>
      <APN apn="0.0.2_DC">
        <DIF difName="S1_2" ipcAddress="B"/>
        <DIF difName="S2_app" ipcAddress="A"/>
      </APN>
      <APN apn="0.0.2.s_DC">
        <DIF difName="S2_app" ipcAddress="B"/>
      </APN>
      <APN apn="0.1_DC">
        <DIF difName="S0_1" ipcAddress="B"/>
        <DIF difName="S1_0" ipcAddress="A"/>
        <DIF difName="S1_1" ipcAddress="A"/>
        <DIF difName="S1_2" ipcAddress="A"/>
      </APN>
      <APN apn="0.1.0_DC">
        <DIF difName="S1_0" ipcAddress="B"/>
        <DIF difName="S2_app" ipcAddress="A"/>
      </APN>
      <APN apn="0.1.0.s_DC">
        <DIF difName="S2_app" ipcAddress="B"/>
      </APN>
      <APN apn="0.1.1_DC">
        <DIF difName="S1_1" ipcAddress="B"/>
        <DIF difName="S2_app" ipcAddress="A"/>
      </APN>
      <APN apn="0.1.1.s_DC">
        <DIF difName="S2_app" ipcAddress="B"/>
      </APN>
      <APN apn="0.1.2_DC">
        <DIF difName="S1_2" ipcAddress="B"/>
        <DIF difName="S2_app" ipcAddress="A"/>
      </APN>
      <APN apn="0.1.2.s_DC">
        <DIF difName="S2_app" ipcAddress="B"/>
      </APN>
      <APN apn="0.2_DC">
        <DIF difName="S0_2" ipcAddress="B"/>
        <DIF difName="S1_0" ipcAddress="A"/>
        <DIF difName="S1_1" ipcAddress="A"/>
        <DIF difName="S1_2" ipcAddress="A"/>
      </APN>
      <APN apn="0.2.0_DC">
        <DIF difName="S1_0" ipcAddress="B"/>
        <DIF difName="S2_app" ipcAddress="A"/>
      </APN>
      <APN apn="0.2.0.s_DC">
        <DIF difName="S2_app" ipcAddress="B"/>
      </APN>
      <APN apn="0.2.1_DC">
        <DIF difName="S1_1" ipcAddress="B"/>
        <DIF difName="S2_app" ipcAddress="A"/>
      </APN>
      <APN apn="0.2.1.s_DC">
        <DIF difName="S2_app" ipcAddress="B"/>
      </APN>
      <APN apn="0.2.2_DC">
        <DIF difName="S1_2" ipcAddress="B"/>
        <DIF difName="S2_app" ipcAddress="A"/>
      </APN>
      <APN apn="0.2.2.s_DC">
        <DIF difName="S2_app" ipcAddress="B"/>
      </APN>
      <APN apn="1_DC">
        <DIF difName="S" ipcAddress="B"/>
        <DIF difName="S0_0" ipcAddress="A"/>
        <DIF difName="S0_1" ipcAddress="A"/>
        <DIF difName="S0_2" ipcAddress="A"/>
      </APN>
      <APN apn="1.0_DC">
        <DIF difName="S0_0" ipcAddress="B"/>
        <DIF difName="S1_0" ipcAddress="A"/>
        <DIF difName="S1_1" ipcAddress="A"/>
        <DIF difName="S1_2" ipcAddress="A"/>
      </APN>
      <APN apn="1.0.0_DC">
        <DIF difName="S1_0" ipcAddress="B"/>
        <DIF difName="S2_app" ipcAddress="A"/>
      </APN>
      <APN apn="1.0.0.s_DC">
        <DIF difName="S2_app" ipcAddress="B"/>
      </APN>
      <APN apn="1.0.1_DC">
        <DIF difName="S1_1" ipcAddress="B"/>
        <DIF difName="S2_app" ipcAddress="A"/>
      </APN>
      <APN apn="1.0.1.s_DC">
        <DIF difName="S2_app" ipcAddress="B"/>
      </APN>
      <APN apn="1.0.2_DC">
        <DIF difName="S1_2" ipcAddress="B"/>
        <DIF difName="S2_app" ipcAddress="A"/>
      </APN>
      <APN apn="1.0.2.s_DC">
        <DIF difName="S2_app" ipcAddress="B"/>
      </APN>
      <APN apn="1.1_DC">
        <DIF difName="S0_1" ipcAddress="B"/>
        <DIF difName="S1_0" ipcAddress="A"/>
        <DIF difName="S1_1" ipcAddress="A"/>
        <DIF difName="S1_2" ipcAddress="A"/>
      </APN>
      <APN apn="1.1.0_DC">
        <DIF difName="S1_0" ipcAddress="B"/>
        <DIF difName="S2_app" ipcAddress="A"/>
      </APN>
      <APN apn="1.1.0.s_DC">
        <DIF difName="S2_app" ipcAddress="B"/>
      </APN>
      <APN apn="1.1.1_DC">
        <DIF difName="S1_1" ipcAddress="B"/>
        <DIF difName="S2_app" ipcAddress="A"/>
      </APN>
      <APN apn="1.1.1.s_DC">
        <DIF difName="S2_app" ipcAddress="B"/>
      </APN>
      <APN apn="1.1.2_DC">
        <DIF difName="S1_2" ipcAddress="B"/>
        <DIF difName="S2_app" ipcAddress="A"/>
      </APN>
      <APN apn="1.1.2.s_DC">
        <DIF difName="S2_app" ipcAddress="B"/>
      </APN>
      <APN apn="1.2_DC">
        <DIF difName="S0_2" ipcAddress="B"/>
        <DIF difName="S1_0" ipcAddress="A"/>
        <DIF difName="S1_1" ipcAddress="A"/>
        <DIF difName="S1_2" ipcAddress="A"/>
      </APN>
      <APN apn="1.2.0_DC">
        <DIF difName="S1_0" ipcAddress="B"/>
        <DIF difName="S2_app" ipcAddress="A"/>
      </APN>
      <APN apn="1.2.0.s_DC">
        <DIF difName="S2_app" ipcAddress="B"/>
      </APN>
      <APN apn="1.2.1_DC">
        <DIF difName="S1_1" ipcAddress="B"/>
        <DIF difName="S2_app" ipcAddress="A"/>
        <DIF difName="T" ipcAddress="A"/>
      </APN>
      <APN apn="1.2.1.s_DC">
        <DIF difName="S2_app" ipcAddress="B"/>
      </APN>
      <APN apn="1.2.2_DC">
        <DIF difName="S1_2" ipcAddress="B"/>
        <DIF difName="S2_appb" ipcAddress="A"/>
        <DIF difName="T" ipcAddress="B"/>
      </APN>
      <APN apn="1.2.2.s_DC">
        <DIF difName="S2_appb" ipcAddress="B"/>
      </APN>
    </Directory>
  </DA>
</Configuration>
