<?xml version="1.0"?>
<Configuration>
	<Host id="hostA">
		<DA>
			<Directory>
				<APN apn="SourceA">
					<DIF difName="Layer11" ipcAddress="11" />
				</APN>
				<APN apn="DestinationB">
					<DIF difName="Layer11" ipcAddress="22" />
				</APN>				
				<APN apn="11_Layer11">
					<DIF difName="Layer01" ipcAddress="1" />
				</APN>	
				<APN apn="22_Layer11">
					<DIF difName="Layer02" ipcAddress="2" />
				</APN>									
				<APN apn="33_Layer11">
					<DIF difName="Layer01" ipcAddress="3" />				
					<DIF difName="Layer02" ipcAddress="4" />
				</APN>				
			</Directory>
			<NeighborTable>
				<APN apn="22_Layer11">
					<Neighbor apn="33_Layer11" />
				</APN>			
			</NeighborTable>
		</DA>	
	</Host>
	<Host id="hostB">
		<DA>
			<Directory>
				<APN apn="SourceA">
					<DIF difName="Layer11" ipcAddress="11" />
				</APN>
				<APN apn="DestinationB">
					<DIF difName="Layer11" ipcAddress="22" />
				</APN>				
				<APN apn="11_Layer11">
					<DIF difName="Layer01" ipcAddress="1" />
				</APN>	
				<APN apn="22_Layer11">
					<DIF difName="Layer02" ipcAddress="2" />
				</APN>									
				<APN apn="33_Layer11">
					<DIF difName="Layer01" ipcAddress="3" />				
					<DIF difName="Layer02" ipcAddress="4" />
				</APN>				
			</Directory>
			<NeighborTable>
				<APN apn="11_Layer11">
					<Neighbor apn="33_Layer11" />
				</APN>			
			</NeighborTable>
		</DA>	
		<Enrollment>
			<Preenrollment>
	            <SimTime t="5">
	                <Connect src="22_Layer11" dst="33_Layer11" />
	            </SimTime>
			</Preenrollment>
		</Enrollment>		
	</Host>
	<Router id="switch">
		<DA>
			<Directory>
				<APN apn="SourceA">
					<DIF difName="Layer11" ipcAddress="11" />
				</APN>
				<APN apn="DestinationB">
					<DIF difName="Layer11" ipcAddress="22" />
				</APN>			
				<APN apn="11_Layer11">
					<DIF difName="Layer01" ipcAddress="1" />
				</APN>	
				<APN apn="22_Layer11">
					<DIF difName="Layer02" ipcAddress="2" />
				</APN>									
				<APN apn="33_Layer11">
					<DIF difName="Layer01" ipcAddress="3" />				
					<DIF difName="Layer02" ipcAddress="4" />
				</APN>								
			</Directory>			
		</DA>		
	</Router>
	<QoSCubesSet>
		<QoSCube id="QoSCube_WithoutDTCP">
			<AverageBandwidth>10000000</AverageBandwidth>
			<AverageSDUBandwidth>1000</AverageSDUBandwidth>
			<PeakBandwidthDuration>20000000</PeakBandwidthDuration>
			<PeakSDUBandwidthDuration>2000</PeakSDUBandwidthDuration>
			<BurstPeriod>10000000</BurstPeriod>
			<BurstDuration>1000000</BurstDuration>
			<UndetectedBitError>0.01</UndetectedBitError>
			<PDUDroppingProbability>0</PDUDroppingProbability>
			<MaxSDUSize>1500</MaxSDUSize>
			<PartialDelivery>0</PartialDelivery>
			<IncompleteDelivery>0</IncompleteDelivery>
			<ForceOrder>0</ForceOrder>
			<MaxAllowableGap>0</MaxAllowableGap>
			<Delay>1000000</Delay>
			<Jitter>500000</Jitter>
			<CostTime>0</CostTime>
			<CostBits>0</CostBits>
			<ATime>4</ATime>
			<RxOn>1</RxOn>
			<WinOn>1</WinOn>
			<RateOn>0</RateOn>	
		</QoSCube>
		<QoSCube id="QoSCube_WithDTCP">
			<AverageBandwidth>10000000</AverageBandwidth>
			<AverageSDUBandwidth>1000</AverageSDUBandwidth>
			<PeakBandwidthDuration>20000000</PeakBandwidthDuration>
			<PeakSDUBandwidthDuration>2000</PeakSDUBandwidthDuration>
			<BurstPeriod>10000000</BurstPeriod>
			<BurstDuration>1000000</BurstDuration>
			<UndetectedBitError>0.01</UndetectedBitError>
			<PDUDroppingProbability>0</PDUDroppingProbability>
			<MaxSDUSize>1500</MaxSDUSize>
			<PartialDelivery>0</PartialDelivery>
			<IncompleteDelivery>0</IncompleteDelivery>
			<ForceOrder>1</ForceOrder>
			<MaxAllowableGap>0</MaxAllowableGap>
			<Delay>1000000</Delay>
			<Jitter>500000</Jitter>
			<CostTime>0</CostTime>
			<CostBits>0</CostBits>
			<ATime>4</ATime>
			<RxOn>1</RxOn>
			<WinOn>1</WinOn>
			<RateOn>0</RateOn>				
		</QoSCube>		
	</QoSCubesSet>
</Configuration>