<?xml version="1.0"?>
<Configuration>
    <ConnectionSets>
        <ConnectionSet id="all">
            <!-- Allocate management flows. -->
            <SimTime t="0">
                <Connection src="120_TenantDIF" dst="1_TenantDIF" qosReq="mgmt"/>                
            </SimTime>
            <!-- Allocate data flows. -->
            
            <SimTime t="1">
                <Connection src="120_TenantDIF" dst="1_TenantDIF" qosReq="1"/>
                
                
            </SimTime>
        </ConnectionSet>
    </ConnectionSets>
<QoSReqSet>
    	<QosReq id="1">
			<AverageBandwidth>12000000</AverageBandwidth>
			<AverageSDUBandwidth>1000</AverageSDUBandwidth>
			<PeakBandwidthDuration>24000000</PeakBandwidthDuration>
			<PeakSDUBandwidthDuration>2000</PeakSDUBandwidthDuration>
			<BurstPeriod>10000000</BurstPeriod>
			<BurstDuration>1000000</BurstDuration>
			<UndetectedBitError>0.01</UndetectedBitError>
			<PDUDroppingProbability>0</PDUDroppingProbability>
			<MaxSDUSize>1500</MaxSDUSize>
			<PartialDelivery>0</PartialDelivery>
			<IncompleteDelivery>0</IncompleteDelivery>
			<ForceOrder>0</ForceOrder>
			<MaxAllowableGap>0</MaxAllowableGap>
			<Delay>1000000</Delay>
			<Jitter>500000</Jitter>
			<CostTime>0</CostTime>
			<CostBits>0</CostBits>        
		</QosReq>
	</QoSReqSet>


    <Node id="all">
        <DA>
            <Directory>
                <APN apn="120_TenantDIF">
                    <DIF difName="G1DIF" ipcAddress="0"/>
                    <DIF difName="IGDIF1.1" ipcAddress="1"/>
                    <DIF difName="Shim99ToGL1" ipcAddress="2"/>
                </APN>
                <APN apn="121_TenantDIF">
                    <DIF difName="IGDIF1.1" ipcAddress="2"/>
                    <DIF difName="G2DIF" ipcAddress="0"/>
                    <DIF difName="IGDIF2.1" ipcAddress="1"/>
                </APN>
                <APN apn="122_TenantDIF">
                    <DIF difName="G3DIF" ipcAddress="0"/>
                    <DIF difName="IGDIF1.2" ipcAddress="1"/>
                    <DIF difName="IGDIF2.1" ipcAddress="2"/>
                </APN>
                <APN apn="123_TenantDIF">
                    <DIF difName="G4DIF" ipcAddress="0"/>
                    <DIF difName="IGDIF1.2" ipcAddress="2"/>
                </APN>
                
                 <APN apn="1_TenantDIF">
                    <DIF difName="G1DIF" ipcAddress="1"/>
                </APN>
                <APN apn="2_TenantDIF">
                    <DIF difName="G1DIF" ipcAddress="2"/>
                </APN>
                <APN apn="3_TenantDIF">
                    <DIF difName="G1DIF" ipcAddress="3"/>
                </APN>
                <APN apn="4_TenantDIF">
                    <DIF difName="G1DIF" ipcAddress="4"/>
                </APN>
                <APN apn="5_TenantDIF">
                    <DIF difName="G1DIF" ipcAddress="5"/>
                </APN>
                <APN apn="6_TenantDIF">
                    <DIF difName="G1DIF" ipcAddress="6"/>
                </APN>
                <APN apn="7_TenantDIF">
                    <DIF difName="G1DIF" ipcAddress="7"/>
                </APN>
                <APN apn="8_TenantDIF">
                    <DIF difName="G1DIF" ipcAddress="8"/>
                </APN>
                <APN apn="9_TenantDIF">
                    <DIF difName="G1DIF" ipcAddress="9"/>
                </APN>
                <APN apn="10_TenantDIF">
                    <DIF difName="G1DIF" ipcAddress="10"/>
                </APN>
                <APN apn="11_TenantDIF">
                    <DIF difName="G1DIF" ipcAddress="11"/>
                </APN>
                <APN apn="12_TenantDIF">
                    <DIF difName="G1DIF" ipcAddress="12"/>
                </APN>
                <APN apn="13_TenantDIF">
                    <DIF difName="G1DIF" ipcAddress="13"/>
                </APN>
                <APN apn="14_TenantDIF">
                    <DIF difName="G1DIF" ipcAddress="14"/>
                </APN>
                <APN apn="15_TenantDIF">
                    <DIF difName="G1DIF" ipcAddress="15"/>
                </APN>
                <APN apn="16_TenantDIF">
                    <DIF difName="G1DIF" ipcAddress="16"/>
                </APN>
                <APN apn="17_TenantDIF">
                    <DIF difName="G1DIF" ipcAddress="17"/>
                </APN>
                <APN apn="18_TenantDIF">
                    <DIF difName="G1DIF" ipcAddress="18"/>
                </APN>
                <APN apn="19_TenantDIF">
                    <DIF difName="G1DIF" ipcAddress="19"/>
                </APN>
                <APN apn="20_TenantDIF">
                    <DIF difName="G1DIF" ipcAddress="20"/>
                </APN>
                <APN apn="21_TenantDIF">
                    <DIF difName="G1DIF" ipcAddress="21"/>
                </APN>
                <APN apn="22_TenantDIF">
                    <DIF difName="G1DIF" ipcAddress="22"/>
                </APN>
                <APN apn="23_TenantDIF">
                    <DIF difName="G1DIF" ipcAddress="23"/>
                </APN>
                <APN apn="24_TenantDIF">
                    <DIF difName="G1DIF" ipcAddress="24"/>
                </APN>
                <APN apn="25_TenantDIF">
                    <DIF difName="G1DIF" ipcAddress="25"/>
                </APN>
                <APN apn="26_TenantDIF">
                    <DIF difName="G1DIF" ipcAddress="26"/>
                </APN>
                <APN apn="27_TenantDIF">
                    <DIF difName="G1DIF" ipcAddress="27"/>
                </APN>
                <APN apn="28_TenantDIF">
                    <DIF difName="G1DIF" ipcAddress="28"/>
                </APN>
                <APN apn="29_TenantDIF">
                    <DIF difName="G1DIF" ipcAddress="29"/>
                </APN>
                
                               <APN apn="30_TenantDIF">
                    <DIF difName="G2DIF" ipcAddress="30"/>
                </APN>
                <APN apn="31_TenantDIF">
                    <DIF difName="G2DIF" ipcAddress="31"/>
                </APN>
                <APN apn="32_TenantDIF">
                    <DIF difName="G2DIF" ipcAddress="32"/>
                </APN>
                <APN apn="33_TenantDIF">
                    <DIF difName="G2DIF" ipcAddress="33"/>
                </APN>
                <APN apn="34_TenantDIF">
                    <DIF difName="G2DIF" ipcAddress="34"/>
                </APN>
                <APN apn="35_TenantDIF">
                    <DIF difName="G2DIF" ipcAddress="35"/>
                </APN>
                <APN apn="36_TenantDIF">
                    <DIF difName="G2DIF" ipcAddress="36"/>
                </APN>
                <APN apn="37_TenantDIF">
                    <DIF difName="G2DIF" ipcAddress="37"/>
                </APN>
                <APN apn="38_TenantDIF">
                    <DIF difName="G2DIF" ipcAddress="38"/>
                </APN>
                <APN apn="39_TenantDIF">
                    <DIF difName="G2DIF" ipcAddress="39"/>
                </APN>
                <APN apn="40_TenantDIF">
                    <DIF difName="G2DIF" ipcAddress="40"/>
                </APN>
                <APN apn="41_TenantDIF">
                    <DIF difName="G2DIF" ipcAddress="41"/>
                </APN>
                <APN apn="42_TenantDIF">
                    <DIF difName="G2DIF" ipcAddress="42"/>
                </APN>
                <APN apn="43_TenantDIF">
                    <DIF difName="G2DIF" ipcAddress="43"/>
                </APN>
                <APN apn="44_TenantDIF">
                    <DIF difName="G2DIF" ipcAddress="44"/>
                </APN>
                <APN apn="45_TenantDIF">
                    <DIF difName="G2DIF" ipcAddress="45"/>
                </APN>
                <APN apn="46_TenantDIF">
                    <DIF difName="G2DIF" ipcAddress="46"/>
                </APN>
                <APN apn="47_TenantDIF">
                    <DIF difName="G2DIF" ipcAddress="47"/>
                </APN>
                <APN apn="48_TenantDIF">
                    <DIF difName="G2DIF" ipcAddress="48"/>
                </APN>
                <APN apn="49_TenantDIF">
                    <DIF difName="G2DIF" ipcAddress="49"/>
                </APN>
                <APN apn="50_TenantDIF">
                    <DIF difName="G2DIF" ipcAddress="50"/>
                </APN>
                <APN apn="51_TenantDIF">
                    <DIF difName="G2DIF" ipcAddress="51"/>
                </APN>
                <APN apn="52_TenantDIF">
                    <DIF difName="G2DIF" ipcAddress="52"/>
                </APN>
                <APN apn="53_TenantDIF">
                    <DIF difName="G2DIF" ipcAddress="53"/>
                </APN>
                <APN apn="54_TenantDIF">
                    <DIF difName="G2DIF" ipcAddress="54"/>
                </APN>
                <APN apn="55_TenantDIF">
                    <DIF difName="G2DIF" ipcAddress="55"/>
                </APN>
                <APN apn="56_TenantDIF">
                    <DIF difName="G2DIF" ipcAddress="56"/>
                </APN>
                <APN apn="57_TenantDIF">
                    <DIF difName="G2DIF" ipcAddress="57"/>
                </APN>
                <APN apn="58_TenantDIF">
                    <DIF difName="G2DIF" ipcAddress="58"/>
                </APN>
                
                <APN apn="59_TenantDIF">
                    <DIF difName="G3DIF" ipcAddress="59"/>
                </APN>
                <APN apn="60_TenantDIF">
                    <DIF difName="G3DIF" ipcAddress="60"/>
                </APN>
                <APN apn="61_TenantDIF">
                    <DIF difName="G3DIF" ipcAddress="61"/>
                </APN>
                <APN apn="62_TenantDIF">
                    <DIF difName="G3DIF" ipcAddress="62"/>
                </APN>
                <APN apn="63_TenantDIF">
                    <DIF difName="G3DIF" ipcAddress="63"/>
                </APN>
                <APN apn="64_TenantDIF">
                    <DIF difName="G3DIF" ipcAddress="64"/>
                </APN>
                <APN apn="65_TenantDIF">
                    <DIF difName="G3DIF" ipcAddress="65"/>
                </APN>
                <APN apn="66_TenantDIF">
                    <DIF difName="G3DIF" ipcAddress="66"/>
                </APN>
                <APN apn="67_TenantDIF">
                    <DIF difName="G3DIF" ipcAddress="67"/>
                </APN>
                <APN apn="68_TenantDIF">
                    <DIF difName="G3DIF" ipcAddress="68"/>
                </APN>
                <APN apn="69_TenantDIF">
                    <DIF difName="G3DIF" ipcAddress="69"/>
                </APN>
                <APN apn="70_TenantDIF">
                    <DIF difName="G3DIF" ipcAddress="70"/>
                </APN>
                <APN apn="71_TenantDIF">
                    <DIF difName="G3DIF" ipcAddress="71"/>
                </APN>
                <APN apn="72_TenantDIF">
                    <DIF difName="G3DIF" ipcAddress="72"/>
                </APN>
                <APN apn="73_TenantDIF">
                    <DIF difName="G3DIF" ipcAddress="73"/>
                </APN>
                <APN apn="74_TenantDIF">
                    <DIF difName="G3DIF" ipcAddress="74"/>
                </APN>
                <APN apn="75_TenantDIF">
                    <DIF difName="G3DIF" ipcAddress="75"/>
                </APN>
                <APN apn="76_TenantDIF">
                    <DIF difName="G3DIF" ipcAddress="76"/>
                </APN>
                <APN apn="77_TenantDIF">
                    <DIF difName="G3DIF" ipcAddress="77"/>
                </APN>
                <APN apn="78_TenantDIF">
                    <DIF difName="G3DIF" ipcAddress="78"/>
                </APN>
                <APN apn="79_TenantDIF">
                    <DIF difName="G3DIF" ipcAddress="79"/>
                </APN>
                <APN apn="80_TenantDIF">
                    <DIF difName="G3DIF" ipcAddress="80"/>
                </APN>
                <APN apn="81_TenantDIF">
                    <DIF difName="G3DIF" ipcAddress="81"/>
                </APN>
                <APN apn="82_TenantDIF">
                    <DIF difName="G3DIF" ipcAddress="82"/>
                </APN>
                <APN apn="83_TenantDIF">
                    <DIF difName="G3DIF" ipcAddress="83"/>
                </APN>
                <APN apn="84_TenantDIF">
                    <DIF difName="G3DIF" ipcAddress="84"/>
                </APN>
                <APN apn="85_TenantDIF">
                    <DIF difName="G3DIF" ipcAddress="85"/>
                </APN>
                <APN apn="86_TenantDIF">
                    <DIF difName="G3DIF" ipcAddress="86"/>
                </APN>
                <APN apn="87_TenantDIF">
                    <DIF difName="G3DIF" ipcAddress="87"/>
                </APN>
                
                               <APN apn="88_TenantDIF">
                    <DIF difName="G4DIF" ipcAddress="88"/>
                </APN>
                <APN apn="89_TenantDIF">
                    <DIF difName="G4DIF" ipcAddress="89"/>
                </APN>
                <APN apn="90_TenantDIF">
                    <DIF difName="G4DIF" ipcAddress="90"/>
                </APN>
                <APN apn="91_TenantDIF">
                    <DIF difName="G4DIF" ipcAddress="91"/>
                </APN>
                <APN apn="92_TenantDIF">
                    <DIF difName="G4DIF" ipcAddress="92"/>
                </APN>
                <APN apn="93_TenantDIF">
                    <DIF difName="G4DIF" ipcAddress="93"/>
                </APN>
                <APN apn="94_TenantDIF">
                    <DIF difName="G4DIF" ipcAddress="94"/>
                </APN>
                <APN apn="95_TenantDIF">
                    <DIF difName="G4DIF" ipcAddress="95"/>
                </APN>
                <APN apn="96_TenantDIF">
                    <DIF difName="G4DIF" ipcAddress="96"/>
                </APN>
                <APN apn="97_TenantDIF">
                    <DIF difName="G4DIF" ipcAddress="97"/>
                </APN>
                <APN apn="98_TenantDIF">
                    <DIF difName="G4DIF" ipcAddress="98"/>
                </APN>
                <APN apn="99_TenantDIF">
                    <DIF difName="G4DIF" ipcAddress="99"/>
                    <DIF difName="Shim99ToGL1" ipcAddress="1"/>
                </APN>
                <APN apn="100_TenantDIF">
                    <DIF difName="G4DIF" ipcAddress="100"/>
                </APN>
                <APN apn="101_TenantDIF">
                    <DIF difName="G4DIF" ipcAddress="101"/>
                </APN>
                <APN apn="102_TenantDIF">
                    <DIF difName="G4DIF" ipcAddress="102"/>
                </APN>
                <APN apn="103_TenantDIF">
                    <DIF difName="G4DIF" ipcAddress="103"/>
                </APN>
                <APN apn="104_TenantDIF">
                    <DIF difName="G4DIF" ipcAddress="104"/>
                </APN>
                <APN apn="105_TenantDIF">
                    <DIF difName="G4DIF" ipcAddress="105"/>
                </APN>
                <APN apn="106_TenantDIF">
                    <DIF difName="G4DIF" ipcAddress="106"/>
                </APN>
                <APN apn="107_TenantDIF">
                    <DIF difName="G4DIF" ipcAddress="107"/>
                </APN>
                <APN apn="108_TenantDIF">
                    <DIF difName="G4DIF" ipcAddress="108"/>
                </APN>
                <APN apn="109_TenantDIF">
                    <DIF difName="G4DIF" ipcAddress="109"/>
                </APN>
                <APN apn="110_TenantDIF">
                    <DIF difName="G4DIF" ipcAddress="110"/>
                </APN>
                <APN apn="111_TenantDIF">
                    <DIF difName="G4DIF" ipcAddress="111"/>
                </APN>
                <APN apn="112_TenantDIF">
                    <DIF difName="G4DIF" ipcAddress="112"/>
                </APN>
                <APN apn="113_TenantDIF">
                    <DIF difName="G4DIF" ipcAddress="113"/>
                </APN>
                <APN apn="114_TenantDIF">
                    <DIF difName="G4DIF" ipcAddress="114"/>
                </APN>
                <APN apn="115_TenantDIF">
                    <DIF difName="G4DIF" ipcAddress="115"/>
                </APN>
                <APN apn="116_TenantDIF">
                    <DIF difName="G4DIF" ipcAddress="116"/>
                </APN>
                
                
                <APN apn="0_G1DIF">
                    <DIF difName="Shim1ToGL1" ipcAddress="2"/>
                    <DIF difName="Shim14ToGL1" ipcAddress="2"/>
                    <DIF difName="Shim2ToGL1" ipcAddress="2"/>
                    <DIF difName="Shim99ToGL1" ipcAddress="2"/>
                    <DIF difName="ShimGL1ToGL4" ipcAddress="1"/>
                    <DIF difName="ShimGL1ToGL2" ipcAddress="1"/>
                    <DIF difName="ShimGL1ToGL3" ipcAddress="1"/>
                </APN>                  

                <APN apn="1_G1DIF">
                    <DIF difName= "Shim1To17" ipcAddress="1"/>
                    <DIF difName= "Shim1ToGL1" ipcAddress="1"/>
                </APN>
                <APN apn="17_G1DIF">
                    <DIF difName= "Shim1To17" ipcAddress="2"/>
                    <DIF difName= "Shim15To17" ipcAddress="2"/>
                </APN>

                <APN apn="14_G1DIF">
                    <DIF difName= "Shim14ToGL1" ipcAddress="1"/>
                    <DIF difName= "Shim14To24" ipcAddress="2"/>
                </APN>
                <APN apn="2_G1DIF">
                    <DIF difName= "Shim2ToGL1" ipcAddress="1"/>
                    <DIF difName= "Shim2To3" ipcAddress="1"/>
                </APN>
                <APN apn="24_G1DIF">
                    <DIF difName= "Shim25To24" ipcAddress="1"/>
                    <DIF difName= "Shim14To24" ipcAddress="1"/>
                </APN>
                <APN apn="25_G1DIF">
                    <DIF difName= "Shim25To24" ipcAddress="2"/>
                    <DIF difName= "Shim25To11" ipcAddress="1"/>
                </APN>

                <APN apn="11_G1DIF">
                    <DIF difName= "Shim6To11" ipcAddress="2"/>
                    <DIF difName= "Shim25To11" ipcAddress="2"/>
                </APN>
                <APN apn="15_G1DIF">
                    <DIF difName= "Shim15To17" ipcAddress="1"/>
                    <DIF difName= "Shim15To18" ipcAddress="1"/>
                </APN>

                <APN apn="18_G1DIF">
                    <DIF difName= "Shim15To18" ipcAddress="2"/>
                    <DIF difName= "Shim10To18" ipcAddress="2"/>
                </APN>
                <APN apn="10_G1DIF">
                    <DIF difName= "Shim10To18" ipcAddress="1"/>
                    <DIF difName= "Shim8To10" ipcAddress="2"/>
                </APN>

                <APN apn="8_G1DIF">
                    <DIF difName= "Shim8To10" ipcAddress="1"/>
                    <DIF difName= "Shim8To9" ipcAddress="1"/>
                </APN>

                <APN apn="9_G1DIF">
                    <DIF difName= "Shim8To9" ipcAddress="2"/>
                    <DIF difName= "Shim6To9" ipcAddress="1"/>
                </APN>

                <APN apn="6_G1DIF">
                    <DIF difName= "Shim6To9" ipcAddress="2"/>
                    <DIF difName= "Shim6To11" ipcAddress="1"/>
                </APN>

                <APN apn="3_G1DIF">
                    <DIF difName= "Shim2To3" ipcAddress="2"/>
                    <DIF difName= "Shim4To3" ipcAddress="2"/>
                </APN>

                <APN apn="4_G1DIF">
                    <DIF difName= "Shim4To5" ipcAddress="1"/>
                    <DIF difName= "Shim4To3" ipcAddress="1"/>
                </APN>
                <APN apn="5_G1DIF">
                    <DIF difName= "Shim4To5" ipcAddress="2"/>
                    <DIF difName= "Shim7To5" ipcAddress="2"/>
                </APN>
                <APN apn="7_G1DIF">
                    <DIF difName= "Shim7To22" ipcAddress="1"/>
                    <DIF difName= "Shim7To5" ipcAddress="1"/>
                </APN>

                <APN apn="23_G1DIF">
                    <DIF difName= "Shim23To22" ipcAddress="1"/>
                    <DIF difName= "Shim23To29" ipcAddress="1"/>
                </APN>
                <APN apn="22_G1DIF">
                    <DIF difName= "Shim23To22" ipcAddress="2"/>
                    <DIF difName= "Shim7To22" ipcAddress="2"/>
                </APN>

                <APN apn="19_G1DIF">
                    <DIF difName= "Shim19To29" ipcAddress="1"/>
                    <DIF difName= "Shim19To21" ipcAddress="1"/>
                </APN>
                <APN apn="29_G1DIF">
                    <DIF difName= "Shim19To29" ipcAddress="2"/>
                    <DIF difName= "Shim23To29" ipcAddress="2"/>
                </APN>

                <APN apn="21_G1DIF">
                    <DIF difName= "Shim19To21" ipcAddress="2"/>
                    <DIF difName= "Shim20To21" ipcAddress="2"/>
                </APN>

                <APN apn="20_G1DIF">
                    <DIF difName= "Shim20To26" ipcAddress="1"/>
                    <DIF difName= "Shim20To21" ipcAddress="1"/>
                </APN>
                <APN apn="26_G1DIF">
                    <DIF difName= "Shim20To26" ipcAddress="2"/>
                    <DIF difName= "Shim13To26" ipcAddress="2"/>
                </APN>
                <APN apn="13_G1DIF">
                    <DIF difName= "Shim13To26" ipcAddress="1"/>
                    <DIF difName= "Shim13To12" ipcAddress="1"/>
                </APN>

                <APN apn="12_G1DIF">
                    <DIF difName= "Shim27To12" ipcAddress="2"/>
                    <DIF difName= "Shim13To12" ipcAddress="2"/>
                </APN>
                <APN apn="27_G1DIF">
                    <DIF difName= "Shim27To16" ipcAddress="1"/>
                    <DIF difName= "Shim27To12" ipcAddress="1"/>
                </APN>
                <APN apn="16_G1DIF">
                    <DIF difName= "Shim27To16" ipcAddress="2"/>
                    <DIF difName= "Shim28To16" ipcAddress="2"/>
                </APN>
                <APN apn="28_G1DIF">
                    <DIF difName= "Shim28To16" ipcAddress="1"/>
                    <DIF difName= "Shim28To36" ipcAddress="1"/>
                </APN>
                <APN apn="36_G1DIF">
                </APN>

                
                
                                <APN apn="31_G2DIF">
                    <DIF difName= "Shim31ToGL2" ipcAddress="2"/>
                    <DIF difName= "Shim31To32" ipcAddress="1"/>
                </APN>
                <APN apn="41_G2DIF">
                    <DIF difName= "Shim41ToGL2" ipcAddress="2"/>
                    <DIF difName= "Shim41To56" ipcAddress="2"/>
                </APN>
                <APN apn="47_G2DIF">
                    <DIF difName= "Shim47ToGL2" ipcAddress="2"/>
                </APN>
                <APN apn="56_G2DIF">
                    <DIF difName= "Shim41To56" ipcAddress="2"/>
                    <DIF difName= "Shim52To56" ipcAddress="2"/>
                </APN>
                <APN apn="52_G2DIF">
                    <DIF difName= "Shim52To56" ipcAddress="1"/>
                    <DIF difName= "Shim52To51" ipcAddress="1"/>
                </APN>
                <APN apn="51_G2DIF">
                    <DIF difName= "Shim52To51" ipcAddress="2"/>
                    <DIF difName= "Shim36To51" ipcAddress="2"/>
                </APN>
                <APN apn="36_G2DIF">
                    <DIF difName= "Shim36To51" ipcAddress="1"/>
                    <DIF difName= "Shim28To36" ipcAddress="2"/>
                </APN>
                <APN apn="32_G2DIF">
                    <DIF difName= "Shim31To32" ipcAddress="2"/>
                    <DIF difName= "Shim33To32" ipcAddress="2"/>
                </APN>
                <APN apn="33_G2DIF">
                    <DIF difName= "Shim33To32" ipcAddress="1"/>
                    <DIF difName= "Shim33To34" ipcAddress="1"/>
                </APN>
                <APN apn="34_G2DIF">
                    <DIF difName= "Shim35To34" ipcAddress="2"/>
                    <DIF difName= "Shim33To34" ipcAddress="2"/>
                </APN>
                <APN apn="35_G2DIF">
                    <DIF difName= "Shim35To40" ipcAddress="1"/>
                    <DIF difName= "Shim35To34" ipcAddress="1"/>
                </APN>
                <APN apn="40_G2DIF">
                    <DIF difName= "Shim35To40" ipcAddress="2"/>
                    <DIF difName= "Shim54To40" ipcAddress="2"/>
                </APN>
                <APN apn="54_G2DIF">
                    <DIF difName= "Shim54To40" ipcAddress="1"/>
                    <DIF difName= "Shim54To53" ipcAddress="1"/>
                </APN>
                <APN apn="53_G2DIF">
                    <DIF difName= "Shim46To53" ipcAddress="2"/>
                    <DIF difName= "Shim54To53" ipcAddress="2"/>
                </APN>
                <APN apn="46_G2DIF">
                    <DIF difName= "Shim46To43" ipcAddress="1"/>
                    <DIF difName= "Shim46To53" ipcAddress="1"/>
                </APN>
                <APN apn="43_G2DIF">
                    <DIF difName= "Shim66To43" ipcAddress="2"/>
                    <DIF difName= "Shim46To43" ipcAddress="2"/>
                </APN>
                <APN apn="47_G2DIF">
                    <DIF difName= "Shim47To39" ipcAddress="1"/>
                </APN>
                <APN apn="37_G2DIF">
                    <DIF difName= "Shim37To39" ipcAddress="1"/>
                    <DIF difName= "Shim37To38" ipcAddress="1"/>
                </APN>
                <APN apn="39_G2DIF">
                    <DIF difName= "Shim37To39" ipcAddress="2"/>
                    <DIF difName= "Shim47To39" ipcAddress="2"/>
                </APN>
                <APN apn="38_G2DIF">
                    <DIF difName= "Shim45To38" ipcAddress="2"/>
                    <DIF difName= "Shim37To38" ipcAddress="2"/>
                </APN>
                <APN apn="45_G2DIF">
                    <DIF difName= "Shim45To55" ipcAddress="1"/>
                    <DIF difName= "Shim45To38" ipcAddress="1"/>
                </APN>
                <APN apn="55_G2DIF">
                    <DIF difName= "Shim49To55" ipcAddress="2"/>
                    <DIF difName= "Shim45To55" ipcAddress="2"/>
                </APN>
                <APN apn="49_G2DIF">
                    <DIF difName= "Shim49To57" ipcAddress="1"/>
                    <DIF difName= "Shim49To55" ipcAddress="1"/>
                </APN>
                <APN apn="57_G2DIF">
                    <DIF difName= "Shim49To57" ipcAddress="2"/>
                    <DIF difName= "Shim42To57" ipcAddress="2"/>
                </APN>
                <APN apn="42_G2DIF">
                    <DIF difName= "Shim42To50" ipcAddress="1"/>
                    <DIF difName= "Shim42To57" ipcAddress="1"/>
                </APN>
                <APN apn="50_G2DIF">
                    <DIF difName= "Shim72To50" ipcAddress="2"/>
                    <DIF difName= "Shim42To50" ipcAddress="2"/>
                </APN>
                <APN apn="30_G2DIF">
                    <DIF difName= "Shim30To44" ipcAddress="2"/>
                    <DIF difName= "Shim30ToGL2" ipcAddress="2"/>
                </APN>
                <APN apn="44_G2DIF">
                    <DIF difName= "Shim48To44" ipcAddress="1"/>
                    <DIF difName= "Shim30To44" ipcAddress="1"/>
                </APN>
                <APN apn="48_G2DIF">
                    <DIF difName= "Shim48To58" ipcAddress="2"/>
                    <DIF difName= "Shim48To44" ipcAddress="2"/>
                </APN>
                <APN apn="58_G2DIF">
                    <DIF difName= "Shim48ToGL3" ipcAddress="1"/>
                    <DIF difName= "Shim48To58" ipcAddress="1"/>
                </APN>
                
                
                <APN apn="59_G3DIF">
                    <DIF difName= "Shim59ToGL3" ipcAddress= "1"/>
                    <DIF difName= "Shim59To74" ipcAddress= "1"/>
                </APN>
                <APN apn="60_G3DIF">
                    <DIF difName= "Shim60ToGL3" ipcAddress= "1"/>
                    <DIF difName= "Shim60To75" ipcAddress= "2"/>
                </APN>
                <APN apn="85_G3DIF">
                    <DIF difName= "Shim85ToGL3" ipcAddress= "1"/>
                    <DIF difName= "Shim85To70" ipcAddress= "1"/>
                </APN>
                <APN apn="75_G3DIF">
                    <DIF difName= "Shim60To75" ipcAddress= "1"/>
                    <DIF difName= "Shim82To75" ipcAddress= "1"/>
                </APN>
                <APN apn="82_G3DIF">
                    <DIF difName= "Shim82To75" ipcAddress= "2"/>
                    <DIF difName= "Shim82To83" ipcAddress= "2"/>
                </APN>
                <APN apn="83_G3DIF">
                    <DIF difName= "Shim82To83" ipcAddress= "1"/>
                    <DIF difName= "Shim69To83" ipcAddress= "1"/>
                </APN>
                <APN apn="82_G3DIF">
                </APN>
                <APN apn="69_G3DIF">
                    <DIF difName= "Shim69To64" ipcAddress= "2"/>
                    <DIF difName= "Shim69To83" ipcAddress= "2"/>
                </APN>
                <APN apn="64_G3DIF">
                    <DIF difName= "Shim63To64" ipcAddress= "1"/>
                    <DIF difName= "Shim69To64" ipcAddress= "1"/>
                </APN>
                <APN apn="63_G3DIF">
                    <DIF difName= "Shim63To64" ipcAddress= "2"/>
                    <DIF difName= "Shim63To65" ipcAddress= "2"/>
                </APN>
                <APN apn="65_G3DIF">
                    <DIF difName= "Shim63To65" ipcAddress= "1"/>
                    <DIF difName= "Shim80To65" ipcAddress= "1"/>
                </APN>

                <APN apn="80_G3DIF">
                    <DIF difName= "Shim80To81" ipcAddress= "2"/>
                    <DIF difName= "Shim80To65" ipcAddress= "2"/>
                </APN>
                <APN apn="81_G3DIF">
                    <DIF difName= "Shim77To81" ipcAddress= "1"/>
                    <DIF difName= "Shim80To81" ipcAddress= "1"/>
                </APN>
                <APN apn="77_G3DIF">
                    <DIF difName= "Shim77To81" ipcAddress= "2"/>
                    <DIF difName= "Shim77To73" ipcAddress= "2"/>
                </APN>
                <APN apn="73_G3DIF">
                    <DIF difName= "Shim77To73" ipcAddress= "1"/>
                    <DIF difName= "Shim76To73" ipcAddress= "1"/>
                </APN>
                <APN apn="76_G3DIF">
                    <DIF difName= "Shim76To68" ipcAddress= "2"/>
                    <DIF difName= "Shim76To73" ipcAddress= "2"/>
                </APN>
                <APN apn="68_G3DIF">
                    <DIF difName= "Shim114To68" ipcAddress= "1"/>
                    <DIF difName= "Shim76To68" ipcAddress= "1"/>
                </APN>
                <APN apn="74_G3DIF">
                    <DIF difName= "Shim59To74" ipcAddress= "2"/>
                    <DIF difName= "Shim84To74" ipcAddress= "2"/>
                </APN>
                <APN apn="84_G3DIF">
                    <DIF difName= "Shim84To74" ipcAddress= "1"/>
                    <DIF difName= "Shim84To71" ipcAddress= "1"/>
                </APN>
                <APN apn="71_G3DIF">
                    <DIF difName= "Shim86To71" ipcAddress= "2"/>
                    <DIF difName= "Shim84To71" ipcAddress= "2"/>
                </APN>
                <APN apn="86_G3DIF">
                    <DIF difName= "Shim86To78" ipcAddress= "1"/>
                    <DIF difName= "Shim86To71" ipcAddress= "1"/>
                </APN>
                <APN apn="79_G3DIF">
                    <DIF difName= "Shim79To78" ipcAddress= "1"/>
                    <DIF difName= "Shim79To87" ipcAddress= "1"/>
                </APN>
                <APN apn="78_G3DIF">
                    <DIF difName= "Shim79To78" ipcAddress= "2"/>
                    <DIF difName= "Shim86To78" ipcAddress= "2"/>
                </APN>
                <APN apn="87_G3DIF">
                    <DIF difName= "Shim67To87" ipcAddress= "2"/>
                    <DIF difName= "Shim79To87" ipcAddress= "2"/>
                </APN>
                <APN apn="67_G3DIF">
                    <DIF difName= "Shim67To72" ipcAddress= "1"/>
                    <DIF difName= "Shim67To87" ipcAddress= "1"/>
                </APN>
                <APN apn="72_G3DIF">
                    <DIF difName= "Shim67To72" ipcAddress= "2"/>
                    <DIF difName= "Shim72To50" ipcAddress= "1"/>
                </APN>
                <APN apn="70_G3DIF">
                    <DIF difName= "Shim61To70" ipcAddress= "2"/>
                    <DIF difName= "Shim85To70" ipcAddress= "2"/>
                </APN>
                <APN apn="61_G3DIF">
                    <DIF difName= "Shim61To62" ipcAddress= "1"/>
                    <DIF difName= "Shim61To70" ipcAddress= "1"/>
                </APN>
                <APN apn="66_G3DIF">
                    <DIF difName= "Shim66To62" ipcAddress= "1"/>
                    <DIF difName= "Shim66To43" ipcAddress= "1"/>
                </APN>
                <APN apn="62_G3DIF">
                    <DIF difName= "Shim66To62" ipcAddress= "2"/>
                    <DIF difName= "Shim61To62" ipcAddress= "2"/>
                </APN>

                
                
                                <APN apn="114_G4DIF">
                    <DIF difName= "Shim114ToGL4" ipcAddress= "2"/>
                    <DIF difName= "Shim114To68" ipcAddress= "2"/>
                </APN>
                <APN apn="88_G4DIF">
                    <DIF difName= "Shim88ToGL4" ipcAddress= "2"/>
                    <DIF difName= "Shim88To103" ipcAddress= "1"/>
                </APN>
                <APN apn="89_G4DIF">
                    <DIF difName= "Shim89ToGL4" ipcAddress= "2"/>
                    <DIF difName= "Shim90To89" ipcAddress= "1"/>
                </APN>
                <APN apn="100_G4DIF">
                    <DIF difName= "Shim100ToGL4" ipcAddress= "2"/>
                    <DIF difName= "Shim100To115" ipcAddress= "2"/>
                </APN>
                <APN apn="115_G4DIF">
                    <DIF difName= "Shim100To115" ipcAddress= "1"/>
                    <DIF difName= "Shim101To115" ipcAddress= "1"/>
                </APN>
                <APN apn="101_G4DIF">
                    <DIF difName= "Shim101To115" ipcAddress= "2"/>
                    <DIF difName= "Shim101To104" ipcAddress= "2"/>
                </APN>
                <APN apn="104_G4DIF">
                    <DIF difName= "Shim101To104" ipcAddress= "1"/>
                    <DIF difName= "Shim111To104" ipcAddress= "1"/>
                </APN>
                <APN apn="111_G4DIF">
                    <DIF difName= "Shim111To112" ipcAddress= "2"/>
                    <DIF difName= "Shim111To104" ipcAddress= "2"/>
                </APN>
                <APN apn="112_G4DIF">
                    <DIF difName= "Shim98To112" ipcAddress= "1"/>
                    <DIF difName= "Shim111To112" ipcAddress= "1"/>
                </APN>
                <APN apn="98_G4DIF">
                    <DIF difName= "Shim98To112" ipcAddress= "2"/>
                    <DIF difName= "Shim98To93" ipcAddress= "2"/>
                </APN>
                <APN apn="93_G4DIF">
                    <DIF difName= "Shim98To93" ipcAddress= "1"/>
                    <DIF difName= "Shim92To93" ipcAddress= "1"/>
                </APN>
                <APN apn="92_G4DIF">
                    <DIF difName= "Shim92To91" ipcAddress= "2"/>
                    <DIF difName= "Shim92To93" ipcAddress= "2"/>
                </APN>
                <APN apn="91_G4DIF">
                    <DIF difName= "Shim90To91" ipcAddress= "1"/>
                    <DIF difName= "Shim92To91" ipcAddress= "1"/>
                </APN>
                <APN apn="90_G4DIF">
                    <DIF difName= "Shim90To89" ipcAddress= "2"/>
                    <DIF difName= "Shim90To91" ipcAddress= "2"/>
                </APN>
                <APN apn="103_G4DIF">
                    <DIF difName= "Shim88To103" ipcAddress= "2"/>
                    <DIF difName= "Shim113To103" ipcAddress= "2"/>
                </APN>
                <APN apn="113_G4DIF">
                    <DIF difName= "Shim113To103" ipcAddress= "1"/>
                    <DIF difName= "Shim113To95" ipcAddress= "1"/>
                </APN>
                <APN apn="95_G4DIF">
                    <DIF difName= "Shim96To95" ipcAddress= "2"/>
                    <DIF difName= "Shim113To95" ipcAddress= "2"/>
                </APN>
                <APN apn="96_G4DIF">
                    <DIF difName= "Shim96To95" ipcAddress= "1"/>
                    <DIF difName= "Shim96To94" ipcAddress= "1"/>
                </APN>
                <APN apn="94_G4DIF">
                    <DIF difName= "Shim96To94" ipcAddress= "2"/>
                    <DIF difName= "Shim109To94" ipcAddress= "2"/>
                </APN>
                <APN apn="109_G4DIF">
                    <DIF difName= "Shim109To94" ipcAddress= "1"/>
                    <DIF difName= "Shim109To110" ipcAddress= "1"/>
                </APN>
                <APN apn="110_G4DIF">
                    <DIF difName= "Shim109To110" ipcAddress= "2"/>
                    <DIF difName= "Shim106To110" ipcAddress= "2"/>
                </APN>
                <APN apn="106_G4DIF">
                    <DIF difName= "Shim106To110" ipcAddress= "1"/>
                    <DIF difName= "Shim106To108" ipcAddress= "1"/>
                </APN>
                <APN apn="108_G4DIF">
                    <DIF difName= "Shim106To108" ipcAddress= "2"/>
                    <DIF difName= "Shim107To108" ipcAddress= "2"/>
                </APN>
                <APN apn="107_G4DIF">
                    <DIF difName= "Shim107To108" ipcAddress= "1"/>
                    <DIF difName= "Shim107To97" ipcAddress= "1"/>
                </APN>
                <APN apn="97_G4DIF">
                    <DIF difName= "Shim107To97" ipcAddress= "2"/>
                    <DIF difName= "Shim105To97" ipcAddress= "2"/>
                </APN>
                <APN apn="105_G4DIF">
                    <DIF difName= "Shim105To97" ipcAddress= "1"/>
                    <DIF difName= "Shim105To102" ipcAddress= "1"/>
                </APN>
                <APN apn="102_G4DIF">
                    <DIF difName= "Shim105To102" ipcAddress= "2"/>
                    <DIF difName= "Shim116To102" ipcAddress= "2"/>
                </APN>
                <APN apn="116_G4DIF">
                    <DIF difName= "Shim116To102" ipcAddress= "1"/>
                    <DIF difName= "Shim116To99" ipcAddress= "1"/>
                </APN>
                <APN apn="99_G4DIF">
                    <DIF difName= "Shim116To99" ipcAddress= "2"/>
                    <DIF difName= "Shim99ToGL1" ipcAddress= "1"/>
                </APN>
                
                
                
                <APN apn="0_G2DIF">
                    <DIF difName="Shim30ToGL2" ipcAddress="1"/>
                    <DIF difName="Shim31ToGL2" ipcAddress="1"/>
                    <DIF difName="Shim41ToGL2" ipcAddress="1"/>
                    <DIF difName="Shim47ToGL2" ipcAddress="1"/>
                    <DIF difName="ShimGL1ToGL2" ipcAddress="2"/>
                    <DIF difName="ShimGL2ToGL3" ipcAddress="1"/>
                    <DIF difName="ShimGL2ToGL4" ipcAddress="1"/>
                </APN> 
                
                
                <APN apn="0_G3DIF">
                    <DIF difName="ShimGL3ToGL4" ipcAddress="2"/>
                    <DIF difName="Shim48ToGL3" ipcAddress="2"/>
                    <DIF difName="Shim59ToGL3" ipcAddress="2"/>
                    <DIF difName="Shim60ToGL3" ipcAddress="2"/>
                    <DIF difName="Shim85ToGL3" ipcAddress="2"/>
                    <DIF difName="ShimGL1ToGL3" ipcAddress="2"/>
                    <DIF difName="ShimGL2ToGL3" ipcAddress="2"/>
                </APN>                       
                
                
                <APN apn="0_G4DIF">
                    <DIF difName="ShimGL3ToGL4" ipcAddress="1"/>
                    <DIF difName="Shim114ToGL4" ipcAddress="1"/>
                    <DIF difName="Shim88ToGL4" ipcAddress="1"/>
                    <DIF difName="Shim89ToGL4" ipcAddress="1"/>
                    <DIF difName="Shim100ToGL4" ipcAddress="1"/>
                    <DIF difName="ShimGL1ToGL4" ipcAddress="2"/>
                    <DIF difName="ShimGL2ToGL4" ipcAddress="2"/>
                </APN>                
                
                              
                <APN apn="1_IGDIF2.1">
                    <DIF difName="Shim30ToGL2" ipcAddress="1"/>
                    <DIF difName="Shim31ToGL2" ipcAddress="1"/>
                    <DIF difName="Shim41ToGL2" ipcAddress="1"/>
                    <DIF difName="Shim47ToGL2" ipcAddress="1"/>
                    <DIF difName="ShimGL1ToGL2" ipcAddress="2"/>
                    <DIF difName="ShimGL2ToGL3" ipcAddress="1"/>
                    <DIF difName="ShimGL2ToGL4" ipcAddress="1"/>
                </APN>               
                <APN apn="2_IGDIF2.1">
                    <DIF difName="ShimGL3ToGL4" ipcAddress="2"/>
                    <DIF difName="Shim48ToGL3" ipcAddress="2"/>
                    <DIF difName="Shim59ToGL3" ipcAddress="2"/>
                    <DIF difName="Shim60ToGL3" ipcAddress="2"/>
                    <DIF difName="Shim85ToGL3" ipcAddress="2"/>
                    <DIF difName="ShimGL1ToGL3" ipcAddress="2"/>
                    <DIF difName="ShimGL2ToGL3" ipcAddress="2"/>
                </APN>             

                
                <APN apn="1_IGDIF1.1">
                    <DIF difName="Shim1ToGL1" ipcAddress="2"/>
                    <DIF difName="Shim14ToGL1" ipcAddress="2"/>
                    <DIF difName="Shim2ToGL1" ipcAddress="2"/>
                    <DIF difName="Shim99ToGL1" ipcAddress="2"/>
                    <DIF difName="ShimGL1ToGL4" ipcAddress="1"/>
                    <DIF difName="ShimGL1ToGL2" ipcAddress="1"/>
                    <DIF difName="ShimGL1ToGL3" ipcAddress="1"/>
                </APN>
                <APN apn="2_IGDIF1.1">
                    <DIF difName="Shim30ToGL2" ipcAddress="1"/>
                    <DIF difName="Shim31ToGL2" ipcAddress="1"/>
                    <DIF difName="Shim41ToGL2" ipcAddress="1"/>
                    <DIF difName="Shim47ToGL2" ipcAddress="1"/>
                    <DIF difName="ShimGL1ToGL2" ipcAddress="2"/>
                    <DIF difName="ShimGL2ToGL3" ipcAddress="1"/>
                    <DIF difName="ShimGL2ToGL4" ipcAddress="1"/>
                </APN>
                
                <APN apn="1_IGDIF1.2">
                    <DIF difName="ShimGL3ToGL4" ipcAddress="2"/>
                    <DIF difName="Shim48ToGL3" ipcAddress="2"/>
                    <DIF difName="Shim59ToGL3" ipcAddress="2"/>
                    <DIF difName="Shim60ToGL3" ipcAddress="2"/>
                    <DIF difName="Shim85ToGL3" ipcAddress="2"/>
                    <DIF difName="ShimGL1ToGL3" ipcAddress="2"/>
                    <DIF difName="ShimGL2ToGL3" ipcAddress="2"/>
                </APN>
                
                <APN apn="2_IGDIF1.2">
                    <DIF difName="ShimGL3ToGL4" ipcAddress="1"/>
                    <DIF difName="Shim114ToGL4" ipcAddress="1"/>
                    <DIF difName="Shim88ToGL4" ipcAddress="1"/>
                    <DIF difName="Shim89ToGL4" ipcAddress="1"/>
                    <DIF difName="Shim100ToGL4" ipcAddress="1"/>
                    <DIF difName="ShimGL1ToGL4" ipcAddress="2"/>
                    <DIF difName="ShimGL2ToGL4" ipcAddress="2"/>
                </APN>
 

                
                <APN apn="App1">
                    <DIF difName="TenantDIF" ipcAddress="1"/>
                </APN>
                <APN apn="App2">
                    <DIF difName="TenantDIF" ipcAddress="2"/>
                </APN>
                <APN apn="App3">
                    <DIF difName="TenantDIF" ipcAddress="3"/>
                </APN>
                <APN apn="App4">
                    <DIF difName="TenantDIF" ipcAddress="4"/>
                </APN>
                <APN apn="App5">
                    <DIF difName="TenantDIF" ipcAddress="5"/>
                </APN>
                <APN apn="App6">
                    <DIF difName="TenantDIF" ipcAddress="6"/>
                </APN>
                <APN apn="App7">
                    <DIF difName="TenantDIF" ipcAddress="7"/>
                </APN>
                <APN apn="App8">
                    <DIF difName="TenantDIF" ipcAddress="8"/>
                </APN>
                <APN apn="App9">
                    <DIF difName="TenantDIF" ipcAddress="9"/>
                </APN>
                <APN apn="App10">
                    <DIF difName="TenantDIF" ipcAddress="10"/>
                </APN>
                <APN apn="App11">
                    <DIF difName="TenantDIF" ipcAddress="11"/>
                </APN>                
                <APN apn="App10">
                    <DIF difName="TenantDIF" ipcAddress="10"/>
                </APN>
                <APN apn="App12">
                    <DIF difName="TenantDIF" ipcAddress="12"/>
                </APN>
                <APN apn="App39">
                    <DIF difName="TenantDIF" ipcAddress="39"/>
                </APN>
                <APN apn="App74">
                    <DIF difName="TenantDIF" ipcAddress="74"/>
                </APN>
                <APN apn="App90">
                    <DIF difName="TenantDIF" ipcAddress="90"/>
                </APN>
                <APN apn="App120">
                    <DIF difName="TenantDIF" ipcAddress="120"/>
                </APN>
            </Directory>
        </DA>
    </Node>	
    
    
	<QoSCubesSet>
		<QoSCube id="1">
			<AverageBandwidth>12000000</AverageBandwidth>
			<AverageSDUBandwidth>1000</AverageSDUBandwidth>
			<PeakBandwidthDuration>24000000</PeakBandwidthDuration>
			<PeakSDUBandwidthDuration>2000</PeakSDUBandwidthDuration>
			<BurstPeriod>10000000</BurstPeriod>
			<BurstDuration>1000000</BurstDuration>
			<UndetectedBitError>0.01</UndetectedBitError>
			<PDUDroppingProbability>0</PDUDroppingProbability>
			<MaxSDUSize>1500</MaxSDUSize>
			<PartialDelivery>0</PartialDelivery>
			<IncompleteDelivery>0</IncompleteDelivery>
			<ForceOrder>0</ForceOrder>
			<MaxAllowableGap>0</MaxAllowableGap>
			<Delay>1000000</Delay>
			<Jitter>500000</Jitter>
			<CostTime>0</CostTime>
			<CostBits>0</CostBits>
			<ATime>0</ATime>
			<RxOn>1</RxOn>
			<WinOn>1</WinOn>
			<RateOn>0</RateOn>						
		</QoSCube>
		<QoSCube id="2">
			<AverageBandwidth>12000000</AverageBandwidth>
			<AverageSDUBandwidth>1000</AverageSDUBandwidth>
			<PeakBandwidthDuration>24000000</PeakBandwidthDuration>
			<PeakSDUBandwidthDuration>2000</PeakSDUBandwidthDuration>
			<BurstPeriod>10000000</BurstPeriod>
			<BurstDuration>1000000</BurstDuration>
			<UndetectedBitError>0.01</UndetectedBitError>
			<PDUDroppingProbability>0</PDUDroppingProbability>
			<MaxSDUSize>1500</MaxSDUSize>
			<PartialDelivery>0</PartialDelivery>
			<IncompleteDelivery>0</IncompleteDelivery>
			<ForceOrder>1</ForceOrder>
			<MaxAllowableGap>0</MaxAllowableGap>
			<Delay>1000000</Delay>
			<Jitter>500000</Jitter>
			<CostTime>0</CostTime>
			<CostBits>0</CostBits>
			<ATime>0</ATime>	
			<RxOn>1</RxOn>
			<WinOn>1</WinOn>
			<RateOn>0</RateOn>
		</QoSCube>		
	</QoSCubesSet>
	
	<QoSCubesSetATime>
		<QoSCube id="1">
			<AverageBandwidth>12000000</AverageBandwidth>
			<AverageSDUBandwidth>1000</AverageSDUBandwidth>
			<PeakBandwidthDuration>24000000</PeakBandwidthDuration>
			<PeakSDUBandwidthDuration>2000</PeakSDUBandwidthDuration>
			<BurstPeriod>10000000</BurstPeriod>
			<BurstDuration>1000000</BurstDuration>
			<UndetectedBitError>0.01</UndetectedBitError>
			<PDUDroppingProbability>0</PDUDroppingProbability>
			<MaxSDUSize>1500</MaxSDUSize>
			<PartialDelivery>0</PartialDelivery>
			<IncompleteDelivery>0</IncompleteDelivery>
			<ForceOrder>0</ForceOrder>
			<MaxAllowableGap>0</MaxAllowableGap>
			<Delay>1000000</Delay>
			<Jitter>500000</Jitter>
			<CostTime>0</CostTime>
			<CostBits>0</CostBits>
			<ATime>0.5</ATime>
			<RxOn>1</RxOn>
			<WinOn>1</WinOn>
			<RateOn>0</RateOn>						
		</QoSCube>
		<QoSCube id="2">
			<AverageBandwidth>12000000</AverageBandwidth>
			<AverageSDUBandwidth>1000</AverageSDUBandwidth>
			<PeakBandwidthDuration>24000000</PeakBandwidthDuration>
			<PeakSDUBandwidthDuration>2000</PeakSDUBandwidthDuration>
			<BurstPeriod>10000000</BurstPeriod>
			<BurstDuration>1000000</BurstDuration>
			<UndetectedBitError>0.01</UndetectedBitError>
			<PDUDroppingProbability>0</PDUDroppingProbability>
			<MaxSDUSize>1500</MaxSDUSize>
			<PartialDelivery>0</PartialDelivery>
			<IncompleteDelivery>0</IncompleteDelivery>
			<ForceOrder>1</ForceOrder>
			<MaxAllowableGap>0</MaxAllowableGap>
			<Delay>1000000</Delay>
			<Jitter>500000</Jitter>
			<CostTime>0</CostTime>
			<CostBits>0</CostBits>
			<ATime>0.5</ATime>	
			<RxOn>1</RxOn>
			<WinOn>1</WinOn>
			<RateOn>0</RateOn>
		</QoSCube>		
	</QoSCubesSetATime>
	
</Configuration>
