<?xml version="1.0"?>
<Configuration>
	<DA>
		<Directory>
			<APN apn="CoreAgent-0">
				<DIF difName="NET" ipcAddress="1.3.2" />
			</APN>
			<APN apn="Master-0">
				<DIF difName="NET" ipcAddress="1.2.3" />
			</APN>
			<APN apn="MasterAgent-0">
				<DIF difName="NET" ipcAddress="1.2.3" />
			</APN>
			<APN apn="CloudAgent-0">
				<DIF difName="NET" ipcAddress="2.1.3" />
			</APN>
			<APN apn="1_NET">
				<DIF difName="shim-1-1.1" ipcAddress="1" />
				<DIF difName="shim-1-1.3" ipcAddress="1" />
				<DIF difName="shim-1-2" ipcAddress="1" />
				<DIF difName="shim-1-3" ipcAddress="1" />
			</APN>
			<APN apn="1.1_NET">
				<DIF difName="shim-1-1.1" ipcAddress="2" />
				<DIF difName="shim-1.1-1.1.1" ipcAddress="1" />
				<DIF difName="shim-1.1-1.1.2" ipcAddress="1" />
				<DIF difName="shim-1.1-1.2" ipcAddress="1" />
			</APN>
			<APN apn="1.1.1_NET">
				<DIF difName="shim-1.1-1.1.1" ipcAddress="2" />
				<DIF difName="shim-1.1.1-1.1.3" ipcAddress="1" />
			</APN>
			<APN apn="1.1.2_NET">
				<DIF difName="shim-1.1-1.1.2" ipcAddress="2" />
			</APN>
			<APN apn="1.1.3_NET">
				<DIF difName="shim-1.1.1-1.1.3" ipcAddress="2" />
			</APN>
			<APN apn="1.2_NET">
				<DIF difName="shim-1.1-1.2" ipcAddress="2" />
				<DIF difName="shim-1.2-1.2.1" ipcAddress="1" />
				<DIF difName="shim-1.2-1.2.3" ipcAddress="1" />
			</APN>
			<APN apn="1.2.1_NET">
				<DIF difName="shim-1.2-1.2.1" ipcAddress="2" />
				<DIF difName="shim-1.2.1-1.2.2" ipcAddress="1" />
			</APN>
			<APN apn="1.2.2_NET">
				<DIF difName="shim-1.2.1-1.2.2" ipcAddress="2" />
			</APN>
			<APN apn="1.2.3_NET">
				<DIF difName="shim-1.2-1.2.3" ipcAddress="2" />
			</APN>
			<APN apn="1.3_NET">
				<DIF difName="shim-1-1.3" ipcAddress="2" />
				<DIF difName="shim-1.3-1.3.1" ipcAddress="1" />
				<DIF difName="shim-1.3-1.3.2" ipcAddress="1" />
			</APN>
			<APN apn="1.3.1_NET">
				<DIF difName="shim-1.3-1.3.1" ipcAddress="2" />
			</APN>
			<APN apn="1.3.2_NET">
				<DIF difName="shim-1.3-1.3.2" ipcAddress="2" />
				<DIF difName="shim-1.3.2-1.3.3" ipcAddress="1" />
			</APN>
			<APN apn="1.3.3_NET">
				<DIF difName="shim-1.3.2-1.3.3" ipcAddress="2" />
			</APN>
			<APN apn="2_NET">
				<DIF difName="shim-1-2" ipcAddress="2" />
				<DIF difName="shim-2-2.1" ipcAddress="1" />
				<DIF difName="shim-2-2.2" ipcAddress="1" />
				<DIF difName="shim-2-2.3" ipcAddress="1" />
			</APN>
			<APN apn="2.1_NET">
				<DIF difName="shim-2-2.1" ipcAddress="2" />
				<DIF difName="shim-2.1-2.1.1" ipcAddress="1" />
			</APN>
			<APN apn="2.1.1_NET">
				<DIF difName="shim-2.1-2.1.1" ipcAddress="2" />
				<DIF difName="shim-2.1.1-2.1.2" ipcAddress="1" />
			</APN>
			<APN apn="2.1.2_NET">
				<DIF difName="shim-2.1.1-2.1.2" ipcAddress="2" />
				<DIF difName="shim-2.1.2-2.1.3" ipcAddress="1" />
			</APN>
			<APN apn="2.1.3_NET">
				<DIF difName="shim-2.1.2-2.1.3" ipcAddress="2" />
			</APN>
			<APN apn="2.2_NET">
				<DIF difName="shim-2-2.2" ipcAddress="2" />
				<DIF difName="shim-2.2-2.2.1" ipcAddress="1" />
				<DIF difName="shim-2.2-2.2.2" ipcAddress="1" />
				<DIF difName="shim-2.2-2.2.3" ipcAddress="1" />
			</APN>
			<APN apn="2.2.1_NET">
				<DIF difName="shim-2.2-2.2.1" ipcAddress="2" />
			</APN>
			<APN apn="2.2.2_NET">
				<DIF difName="shim-2.2-2.2.2" ipcAddress="2" />
			</APN>
			<APN apn="2.2.3_NET">
				<DIF difName="shim-2.2-2.2.3" ipcAddress="2" />
			</APN>
			<APN apn="2.3_NET">
				<DIF difName="shim-2-2.3" ipcAddress="2" />
				<DIF difName="shim-2.3-2.3.1" ipcAddress="1" />
				<DIF difName="shim-2.3-2.3.2" ipcAddress="1" />
				<DIF difName="shim-2.3-2.3.3" ipcAddress="1" />
			</APN>
			<APN apn="2.3.1_NET">
				<DIF difName="shim-2.3-2.3.1" ipcAddress="2" />
			</APN>
			<APN apn="2.3.2_NET">
				<DIF difName="shim-2.3-2.3.2" ipcAddress="2" />
			</APN>
			<APN apn="2.3.3_NET">
				<DIF difName="shim-2.3-2.3.3" ipcAddress="2" />
			</APN>
			<APN apn="3_NET">
				<DIF difName="shim-1-3" ipcAddress="2" />
				<DIF difName="shim-3-3.1" ipcAddress="1" />
				<DIF difName="shim-3-3.2" ipcAddress="1" />
				<DIF difName="shim-3-3.3" ipcAddress="1" />
			</APN>
			<APN apn="3.1_NET">
				<DIF difName="shim-3-3.1" ipcAddress="2" />
				<DIF difName="shim-3.1-3.1.1" ipcAddress="1" />
				<DIF difName="shim-3.1-3.1.2" ipcAddress="1" />
			</APN>
			<APN apn="3.1.1_NET">
				<DIF difName="shim-3.1-3.1.1" ipcAddress="2" />
				<DIF difName="shim-3.1.1-3.1.3" ipcAddress="1" />
			</APN>
			<APN apn="3.1.2_NET">
				<DIF difName="shim-3.1-3.1.2" ipcAddress="2" />
			</APN>
			<APN apn="3.1.3_NET">
				<DIF difName="shim-3.1.1-3.1.3" ipcAddress="2" />
			</APN>
			<APN apn="3.2_NET">
				<DIF difName="shim-3-3.2" ipcAddress="2" />
				<DIF difName="shim-3.2-3.2.1" ipcAddress="1" />
			</APN>
			<APN apn="3.2.1_NET">
				<DIF difName="shim-3.2-3.2.1" ipcAddress="2" />
				<DIF difName="shim-3.2.1-3.2.2" ipcAddress="1" />
			</APN>
			<APN apn="3.2.2_NET">
				<DIF difName="shim-3.2.1-3.2.2" ipcAddress="2" />
				<DIF difName="shim-3.2.2-3.2.3" ipcAddress="1" />
			</APN>
			<APN apn="3.2.3_NET">
				<DIF difName="shim-3.2.2-3.2.3" ipcAddress="2" />
			</APN>
			<APN apn="3.3_NET">
				<DIF difName="shim-3-3.3" ipcAddress="2" />
				<DIF difName="shim-3.3-3.3.1" ipcAddress="1" />
				<DIF difName="shim-3.3-3.3.2" ipcAddress="1" />
				<DIF difName="shim-3.3-3.3.3" ipcAddress="1" />
			</APN>
			<APN apn="3.3.1_NET">
				<DIF difName="shim-3.3-3.3.1" ipcAddress="2" />
			</APN>
			<APN apn="3.3.2_NET">
				<DIF difName="shim-3.3-3.3.2" ipcAddress="2" />
			</APN>
			<APN apn="3.3.3_NET">
				<DIF difName="shim-3.3-3.3.3" ipcAddress="2" />
			</APN>
		</Directory>
	</DA>
</Configuration>

