<?xml version="1.0"?>
<Configuration>
  <DA>
    <Directory>
		<APN apn="h1_NET">
			<DIF difName="shimHR1" ipcAddress="h1" />
		</APN>
		<APN apn="h2_NET">
			<DIF difName="shimHR2" ipcAddress="h2" />
		</APN>
		
		<APN apn="r1_NET">
			<DIF difName="shimHR1" ipcAddress="r1" />
			<DIF difName="shim12" ipcAddress="r1" />
			<DIF difName="shim13" ipcAddress="r1" />
		</APN>
		<APN apn="r2_NET">
			<DIF difName="shim12" ipcAddress="r2" />
			<DIF difName="shim24" ipcAddress="r2" />
		</APN>
		<APN apn="r3_NET">
			<DIF difName="shim13" ipcAddress="r3" />
			<DIF difName="shim34" ipcAddress="r3" />
		</APN>
		<APN apn="r4_NET">
			<DIF difName="shimHR2" ipcAddress="r4" />
			<DIF difName="shim24" ipcAddress="r4" />
			<DIF difName="shim34" ipcAddress="r4" />
		</APN>				
		<APN apn="Snd">
			<DIF difName="NET" ipcAddress="h1" />
		</APN>
		<APN apn="Rcv">
			<DIF difName="NET" ipcAddress="h2" />
		</APN>
    </Directory>
  </DA>
</Configuration>
