<?xml version="1.0"?>
<Configuration>
    <ConnectionSets>
        <ConnectionSet id="PingWithPreallocation">
            <!-- Allocate management flows. -->
            <SimTime t="0">
                <Connection src="33_Layer11" dst="11_Layer11" qosReq="mgmt"/>
                <Connection src="33_Layer11" dst="22_Layer11" qosReq="mgmt"/>
            </SimTime>
            <!-- Allocate data flows. -->
            <SimTime t="10">
                <Connection src="33_Layer11" dst="11_Layer11" qosReq="1"/>
                <Connection src="33_Layer11" dst="22_Layer11" qosReq="1"/>
            </SimTime>            
        </ConnectionSet>
    </ConnectionSets>
	<QoSReqSet>
    	<QosReq id="1">
			<AverageBandwidth>12000000</AverageBandwidth>
			<AverageSDUBandwidth>1000</AverageSDUBandwidth>
			<PeakBandwidthDuration>24000000</PeakBandwidthDuration>
			<PeakSDUBandwidthDuration>2000</PeakSDUBandwidthDuration>
			<BurstPeriod>10000000</BurstPeriod>
			<BurstDuration>1000000</BurstDuration>
			<UndetectedBitError>0.01</UndetectedBitError>
			<PDUDroppingProbability>0</PDUDroppingProbability>
			<MaxSDUSize>1500</MaxSDUSize>
			<PartialDelivery>0</PartialDelivery>
			<IncompleteDelivery>0</IncompleteDelivery>
			<ForceOrder>0</ForceOrder>
			<MaxAllowableGap>0</MaxAllowableGap>
			<Delay>1000000</Delay>
			<Jitter>500000</Jitter>
			<CostTime>0</CostTime>
			<CostBits>0</CostBits>        
		</QosReq>
	</QoSReqSet>

	<Host id="host1">
		<DA>
			<Directory>
				<APN apn="App1">
					<DIF difName="Layer11" ipcAddress="11" />
				</APN>
				<APN apn="App2">
					<DIF difName="Layer11" ipcAddress="22" />
				</APN>				
				<APN apn="11_Layer11">
					<DIF difName="Layer01" ipcAddress="1" />
				</APN>	
				<APN apn="22_Layer11">
					<DIF difName="Layer02" ipcAddress="2" />
				</APN>									
				<APN apn="33_Layer11">
					<DIF difName="Layer01" ipcAddress="3" />				
					<DIF difName="Layer02" ipcAddress="4" />
				</APN>				
			</Directory>
			<NamingInfo>
				<APN apn="App2">
					<Synonym apn="AppErr" />
				</APN>
			</NamingInfo>
			<NeighborTable>
				<APN apn="22_Layer11">
					<Neighbor apn="33_Layer11" />
				</APN>			
			</NeighborTable>
		</DA>	
	</Host>
	<Host id="host2">
		<DA>
			<Directory>
				<APN apn="App1">
					<DIF difName="Layer11" ipcAddress="11" />
				</APN>
				<APN apn="App2">
					<DIF difName="Layer11" ipcAddress="22" />
				</APN>				
				<APN apn="11_Layer11">
					<DIF difName="Layer01" ipcAddress="1" />
				</APN>	
				<APN apn="22_Layer11">
					<DIF difName="Layer02" ipcAddress="2" />
				</APN>									
				<APN apn="33_Layer11">
					<DIF difName="Layer01" ipcAddress="3" />				
					<DIF difName="Layer02" ipcAddress="4" />
				</APN>				
			</Directory>
			<NamingInfo>
				<APN apn="App2">
					<Synonym apn="AppErr" />
				</APN>
			</NamingInfo>
			<NeighborTable>
				<APN apn="11_Layer11">
					<Neighbor apn="33_Layer11" />
				</APN>			
			</NeighborTable>
			
		</DA>	
	</Host>
	<Router id="interiorRouter">
		<DA>
			<Directory>
				<APN apn="App1">
					<DIF difName="Layer11" ipcAddress="11" />
				</APN>
				<APN apn="App2">
					<DIF difName="Layer11" ipcAddress="22" />
				</APN>			
				<APN apn="11_Layer11">
					<DIF difName="Layer01" ipcAddress="1" />
				</APN>	
				<APN apn="22_Layer11">
					<DIF difName="Layer02" ipcAddress="2" />
				</APN>									
				<APN apn="33_Layer11">
					<DIF difName="Layer01" ipcAddress="3" />				
					<DIF difName="Layer02" ipcAddress="4" />
				</APN>								
			</Directory>			
		</DA>
	</Router>
	
	<QoSCubesSet>
		<QoSCube id="1">
			<AverageBandwidth>12000000</AverageBandwidth>
			<AverageSDUBandwidth>1000</AverageSDUBandwidth>
			<PeakBandwidthDuration>24000000</PeakBandwidthDuration>
			<PeakSDUBandwidthDuration>2000</PeakSDUBandwidthDuration>
			<BurstPeriod>10000000</BurstPeriod>
			<BurstDuration>1000000</BurstDuration>
			<UndetectedBitError>0.01</UndetectedBitError>
			<PDUDroppingProbability>0</PDUDroppingProbability>
			<MaxSDUSize>1500</MaxSDUSize>
			<PartialDelivery>0</PartialDelivery>
			<IncompleteDelivery>0</IncompleteDelivery>
			<ForceOrder>0</ForceOrder>
			<MaxAllowableGap>0</MaxAllowableGap>
			<Delay>1000000</Delay>
			<Jitter>500000</Jitter>
			<CostTime>0</CostTime>
			<CostBits>0</CostBits>
			<ATime>0</ATime>
			<RxOn>1</RxOn>
			<WinOn>1</WinOn>
			<RateOn>0</RateOn>						
		</QoSCube>
		<QoSCube id="2">
			<AverageBandwidth>12000000</AverageBandwidth>
			<AverageSDUBandwidth>1000</AverageSDUBandwidth>
			<PeakBandwidthDuration>24000000</PeakBandwidthDuration>
			<PeakSDUBandwidthDuration>2000</PeakSDUBandwidthDuration>
			<BurstPeriod>10000000</BurstPeriod>
			<BurstDuration>1000000</BurstDuration>
			<UndetectedBitError>0.01</UndetectedBitError>
			<PDUDroppingProbability>0</PDUDroppingProbability>
			<MaxSDUSize>1500</MaxSDUSize>
			<PartialDelivery>0</PartialDelivery>
			<IncompleteDelivery>0</IncompleteDelivery>
			<ForceOrder>1</ForceOrder>
			<MaxAllowableGap>0</MaxAllowableGap>
			<Delay>1000000</Delay>
			<Jitter>500000</Jitter>
			<CostTime>0</CostTime>
			<CostBits>0</CostBits>
			<ATime>0</ATime>	
			<RxOn>1</RxOn>
			<WinOn>1</WinOn>
			<RateOn>0</RateOn>
		</QoSCube>		
	</QoSCubesSet>
</Configuration>
